{% extends 'website/common/template.html' %}
{% load static %}
{% load custom_tags %}
{% block content %}
	<section class="container car-comment">
		<div class="inner">
			<h2 class="page-title"><span></span> 시승기 영상 및 여론 모음</h2>
			<form method="POST">
				{% csrf_token %}
			</form>
			<p class="comment-info">
				해당 차종의 시승기 영상 (유튜브) 상위 10개에 남겨진 댓글을 수집합니다.<br>
				차량과 무관한 내용이 존재합니다.
			</p>		
			<div class="box">
				<div class="car-list">
					<ul>
						<li>
							<a href="javascript:;" data-bono="2515">
								<div class="picture">
									<img src="https://img1.daumcdn.net/thumb/R380x0/?fname=%2Fmedia%2Fvitraya%2Fauto%2Fimage%2F1b7a66%2FB3DE67A6829A9409C5A7D01CED280D71EAD449A1108B7F57AB_4P53" alt="">
								</div>
								<strong>제네시스 G80 (G330)</strong>
							</a>
						</li>
						<li>
							<a href="javascript:;" data-bono="1594">
								<div class="picture">
									<img src="https://img1.daumcdn.net/thumb/R380x0/?fname=%2Fmedia%2Fvitraya%2Fauto%2Fimage%2F37c33b%2F8B2B3003EB0A6E2E12BAF9403019E79C148F3C43270506192B_5BNM" alt="">
								</div>
								<strong>제네시스 EQ900</strong>
							</a>
						</li>
						<li>
							<a href="javascript:;" data-bono="1568">
								<div class="picture">
									<img src="https://img1.daumcdn.net/thumb/R380x0/?fname=%2Fmedia%2Fvitraya%2Fauto%2Fimage%2Fdcf5cb%2F4DF060B5521C170248C0D21AF0D5FE288FFAC4DBF6356A057C_6NLK" alt="">
								</div>
								<strong>쉐보레 임팔라</strong>
							</a>
						</li>
					</ul>
				</div>	
				<a href="javascript:;" class="btn-back">&lt;&nbsp;&nbsp;다른 차종 선택하기</a>
				<div class="common-tab-content">
					<nav class="tab">
						<ul>
							<li class="active"><a href="javascript:;">댓글 모음</a></li>
							<li><a href="javascript:;">시승기 영상 모음</a></li>
						</ul>
					</nav>
					<div class="content">
						<article class="comments active">
							<div class="car-comment-list">
								<ul></ul>
							</div>
						</article>
						<article class="videos">
							<div class="video-list">
								<ul></ul>
							</div>
						</article>
					</div>
				</div>
			</div>	
		</div>
	</section>
	<div class="loading">
		<div class="dim"></div>
		<div class="loading-box">
			<div class="out-box">
				<i class="in-box"></i>
			</div>
			<p>
				데이터를 불러오는 중입니다.<br>
				(잠시만 기다려주세요.)
			</p>
		</div>
	</div>
</div>
<script>
$(function(){
	$('.car-list li a').on('click', function(){
		var bono = $(this).data('bono');
		var choiceCar = $(this).children('strong').text();
		$('.car-list').hide();
		$('.car-comment .btn-back').css('display', 'block');
		$('.common-tab-content').show().attr('data-bono', bono);
		$('.car-comment-list ul').html('');
		$('.video-list ul').html('');
		$('.page-title span').text(choiceCar);
		loadCommentList(0, bono, 20);
	});
	$('.car-comment .btn-back').on('click', function(){
		$('.page-title span').text('');
		$('.car-comment-list ul').html('');
		$('.video-list ul').html('');
		$('.common-tab-content').hide().removeAttr('data-bono');
		$('.car-comment .btn-back').hide();
		$('.car-list').show();
	});

	//스크롤 로드 (페이징)
	$(window).on('scroll', function(e){
		if($('.common-tab-content').is(':visible')){
			if(($(window).innerHeight() + $(window).scrollTop()) >= $('.common-tab-content').height() - 150) {
				if($('.common-tab-content ul li.active').index() == 0){
					if(!connFlag){
						var nowListLength = $('.car-comment-list li').length;
						loadCommentList(nowListLength, $('.common-tab-content').data('bono'), 20);
					}	
				}
			}
		}
	});

	function loadCommentList(start_idx, bono, load_length){
		$('.loading').show();
		connFlag = true;
		$.ajax({
			url: '{% url "car_comment_list_data" %}',
			type: 'GET',
			data: {
				'start_idx': start_idx,
				'load_length': 20,
				'bono': bono
			},
			dataType: 'json',
			success: function(data){
				$('.loading').hide();
				var commentListItem = '';
				var videoListItem = '';
				json_data = JSON.parse(data.comment_list)
				total_length = data.total_length
				video_ids = data.video_ids
				for(i = 0; i < json_data.length; i++){
					list = json_data[i].fields;
					console.log(list)
					commentListItem += '<li>';
					commentListItem += '<div class="mining-result">';
					if(list.positive_count > 0 || list.negative_count > 0){
						negaPer = Math.floor(100 * list.negative_count / (list.negative_count + list.positive_count))
						posiPer = 100 - negaPer

						if(list.va_count > 0 && list.morpheme_count > 0){
							vaPer = (list.va_count / list.morpheme_count).toFixed(2);
						}else{
							vaPer = 0;
						}
						commentListItem += '<div class="positive" style="width:'+ posiPer +'%" title="긍정단어 노출 수 : '+list.positive_count+'개">긍정 '+ posiPer +' %</div>'
						commentListItem += '<div class="negative" style="width:'+ negaPer +'%" title="부정단어 노출 수 : '+list.negative_count+'개">부정 '+ negaPer +' %</div>'	
						commentListItem += '</div>';
						commentListItem += '<div class="mining-view">'
						commentListItem += '<p>감정지수 : '+vaPer+'% ('+list.va_count+'개/'+list.morpheme_count+'개)<br>긍/부정 단어 사용 빈도율 : <span class="posi">'+posiPer+'%</span>/<span class="nega">'+negaPer+'%</span><br>긍/부정 단어 사용 수 : <span class="posi">'+list.positive_count+'개</span>/<span class="nega">'+list.negative_count+'개</span></p>'
						commentListItem += '</div>'
						
						allPositivePer += posiPer
						allNegativePer += negaPer
						allNewsCount += 1
					}else{
						commentListItem += '<p class="txt-ing">분석 중인 댓글입니다.</p>';
						commentListItem += '</div>';
						commentListItem += '<div class="mining-view"><p>분석 중인 댓글입니다.</p></div>'
					}
					commentListItem += '</div>';
					commentListItem += '<p class="comment">'+list.comment_content+'</p>';
					commentListItem += '</li>';
				}
				if($('.video-list ul').html() == ''){
					for(i = 0; i < video_ids.length; i++){
						videoListItem += '<li>';
						videoListItem += '<iframe width="100%" height="315" src="https://www.youtube.com/embed/'+ video_ids[i] +'" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>'
						videoListItem += '</li>';
					}	
					$('.video-list ul').append(videoListItem);
				}
				$('.car-comment-list ul').append(commentListItem);
				connFlag = false;
			},
			error : function(request, status, error){
				console.log(error)
			},
		});
	};
})
</script>
</body>
</html>
{% endblock %}