{% extends 'website/common/template.html' %}
{% load static %}
{% load custom_tags %}
{% block content %}
	<section class="container car-comment">
		<div class="inner">
			<h2 class="page-title">{{car_model}} 여론 평가</h2>
			<form method="POST">
				{% csrf_token %}
				<div class="choice-model">
					<select name="car-model">
						<option value="default" select>차종 선택</option>
						<option value="제네시스GV80">제네시스 GV80</option>
						<option value="아반떼CN7">현대자동차 아반떼 CN7</option>
						<option value="현대자동차쏘나타DN8">현대자동차 쏘나타 DN8</option>
						<option value="현대자동차펠리세이드">현대자동차 펠리세이드</option>
						<option value="기아자동차올뉴모닝">기아자동차 올 뉴 모닝</option>
						<option value="기아자동차레이">기아자동차 레이</option>
						<option value="기아자동차K3">기아자동차 K3</option>
						<option value="기아자동차K5DL3">기아자동차 K5 DL3</option>
						<option value="기아자동차더k9">기아자동차 더 k9</option>
						<option value="기아자동차쏘렌토MQ4">기아자동차 쏘렌토 MQ4</option>
						<option value="쉐보레트레일블레이저">쉐보레 트레일 블레이저</option>
					</select>
					<button type="submit" class="btn-choice btn-deep-gray">여론 평가 보기</button>
				</div>
			</form>
			<p class="comment-info">
				유튜브 기준 상위 10개의 해당 차종의 시승기 영상에 달린 댓글을 수집하였습니다.<br>
				차량과 무관한 평가가 존재할 수 있습니다.<br>
				<span>먼저 우측에서 차종을 선택해주세요.</span>
			</p>
			<div class="car-comment-list">
				<ul>
					{% for row in data %}
						<li>
							{% comment %} <strong class="info">[{{row.register}} / {{row.registed_date}}]</strong>  {% endcomment %}
							<p class="comment">{{row.comment}}</p>
						</li>
					{% endfor %}
				</ul>
			</div>
		</div>
	</section>
	<div class="loading">
		<div class="dim"></div>
		<div class="loading-box">
			<div class="out-box">
				<i class="in-box"></i>
			</div>
			<p>
				데이터를 불러오는 중입니다.<br>
				(잠시만 기다려주세요.)
			</p>
		</div>
	</div>
</div>
<script>
$(function(){
	$('.choice-model select').on('change', function(){
		$('.comment-info span').fadeOut('fast');
	});
})
</script>
</body>
</html>
{% endblock %}