{% extends 'website/common/template.html' %}
{% load static %}
{% load custom_tags %}
{% block content %}
	<section class="container">
		<h1 class="service-name">
			<span>회원가입</span> | <a href="/">카뉴스.zip 🙈</a>
		</h1>
		<div class="member-box">
			<form method="POST" id="joinForm">
				{% csrf_token %}
				{{ join_result }}
				<div class="default-form">
					<input type="email" id="memb-id" name="memb-id" placeholder="아이디(이메일)" autocomplete="false" value="{% if memb_id %} {{ memb_id }} {% endif %}">
					<input type="text" id="memb-name" name="memb-name" placeholder="이름 또는 닉네임" autocomplete="false" value="{% if memb_name %} {{ memb_name }} {% endif %}">
					<select id="gender" name="gender">
						{% if gender %}
							{% if gender == 'male' %}
							<option value="">성별</option>
							<option value="male" selected>남성</option>
							<option value="female">여성</option>
							{% else %}
							<option value="">성별</option>
							<option value="male">남성</option>
							<option value="female" selected>여성</option>
							{% endif %}
						{% else %}
							<option value="" selected>성별</option>
							<option value="male">남성</option>
							<option value="female">여성</option>
						{% endif %}
					</select>
					<input type="password" id="pw" name="pw" placeholder="비밀번호" autocomplete="new-password">
					<input type="password" id="re-pw" name="re-pw" placeholder="비밀번호 확인(재입력)" autocomplete="new-password">
					{% if error %}
						<p class="message">{{ error }}</p>
					{% endif %}
					<div class="btn full">
						<button type="submit" class="btn-join btn-deep-gray">카뉴스.zip 회원가입</button>
					</div>
				</div>
			</form>
		</div>
	</section>
</div>

<!-- Javascript -->
<script type="text/javascript" src="/static/js/jquery-1.12.4.min.js"></script>
<script type="text/javascript" src="/static/js/jquery-ui.min.js"></script>
<script type="text/javascript" src="/static/js/swiper.min.js"></script>
<script type="text/javascript" src="/static/js/common.js"></script>
</body>
</html>
{% endblock %}