{% extends 'website/common/template.html' %}
{% load static %}
{% load custom_tags %}
{% block content %}
	<section class="container">
		<h1 class="service-name">
			<span>로그인</span> | <a href="/">카뉴스.zip 🙈</a>
		</h1>
		<div class="member-box">
			<form method="POST" id="loginForm">
				{% csrf_token %}
				<div class="default-form">
					<input type="email" id="memb-id" name="memb-id" placeholder="아이디(이메일)">
					<input type="password" id="pw" name="pw" placeholder="비밀번호">
					{% if error %}
						<p class="message">{{ error }}</p>
					{% endif %}
					<div class="btn full">
						<button type="submit" class="btn-login btn-deep-gray">로그인</button>
					</div>
				</div>
				<p class="check-member">
					아직 카뉴스.zip 회원이 아니세요?<br>
				</p>
				<a href="/join/" class="link-join">카뉴스.zip 회원가입하러 가기</a>
			</form>
		</div>
	</section>
</div>

<!-- Javascript -->
<script type="text/javascript" src="/static/js/jquery-1.12.4.min.js"></script>
<script type="text/javascript" src="/static/js/jquery-ui.min.js"></script>
<script type="text/javascript" src="/static/js/swiper.min.js"></script>
<script type="text/javascript" src="/static/js/common.js"></script>
</body>
</html>
{% endblock %}