{% extends 'website/common/template.html' %}
{% load static %}
{% load custom_tags %}
{% load humanize %}
{% block content %}
	<section class="container">
		<!--<p>{{ matching_car_infos }}</p>-->
		<div class="news-detail">
			<div class="mining-result">
				<div class="va"></div>
				<div class="positive"></div>
				<div class="negative"></div>
			</div>
			<!-- <div class="dev-infos">
				<style>
					.dev-infos strong {line-height:1.5; font-size:16px;}
				</style>
				<strong>뉴스넘버 : {{ news_no }}</strong><br>
				<strong>뉴스기사와 매칭된 BONAME LIST : {{ matching_bo_names }}</strong>
			</div> -->
			<p class="n-title"></p>
			<div class="n-info">
				<span class="date">{{ news.write_date }}</span>
				<span class="view-cnt" title="이 기사 조회수">👁 {{ news.view_count }}</span>
				<span class="repoter">{{ news.media_name }} 
				{% if news.reporter_name %}
					{{ news.reporter_name|replace_entity }}
				{% endif %}
				</span>
			</div>
			<div class="n-content">
				<div class="picture"><img src="{{news.news_img_url}}" alt=""></div>
				<p class="details"></p>
				<div class="page-btns full">
					<a href="{{ news.news_url }}" target="_blank" class="btn gray">해당 언론사에서 뉴스 상세 보기</a>
				</div>
			</div>

			{% if matching_car_count > 0 %}
			<div class="related-car-list">
				<strong class="title">&middot;
					<a href="https://www.autoplus.co.kr" target="_blank">오토플러스</a>에서 판매 중인 관련 차량 {{ matching_car_count }}대
				</strong>
				<p></p>
				<ul>
					{% for matching_car in matching_car_infos %}
					<li>
						<!-- <strong>{{ matching_car.brand }} /// {{matching_car.prod_id}}</strong> -->
						{% if matching_car.brand == 'acar' %}
						<a href="https://www.autoplus.co.kr/acar/ACVP020001?productId={{matching_car.prod_id}}" class="out-link" target="_blank">
						{% elif matching_car.brand == 'rcar' %}
						<a href="https://www.autoplus.co.kr/smartbuy/WUSB050001.rb?productId={{matching_car.prod_id}}" class="out-link" target="_blank">
						{% endif %}
							<div class="thumbnail" style="background:url('{{matching_car.car_photo}}') no-repeat center; background-size:cover;"></div>
							<div class="car-info">
								<p class="model">
									<span>{{matching_car.bm_name}}</span>
									<span>{{matching_car.boi_name}}</span>
									<span>{{matching_car.grade_name}}</span>
								</p>
								<div class="row">
									<span>{{matching_car.regi_date}}</span>
									<span>{{matching_car.car_navi | intcomma}}km</span>
								</div>
								<div class="row">
									<span>{{matching_car.fuel}}</span>
									{% if matching_car.aci_gbn != None %}
									<span>{{matching_car.aci_gbn}}</span>
									{% endif %}
								</div>
								<strong class="price">{{matching_car.amt_sel | intcomma }}원</strong>
							</div>
						</a>
					</li>
					{% endfor %}
				</ul>
			</div>
			{% endif %}
			
			<div class="page-btns full">
				<a href="https://www.autoplus.co.kr/smartbuy/WUSB050001.rb?productId=C21042000005" class="btn darkgray" onclick="window.close()">닫기</a>
			</div>
		</div>
	</section>
</div>
<script>
$(document).ready(function(){
	title = '{{ news.news_title|replace_entity }}'
	title =  title.replaceAll({{ keyword|js }}, '<strong class="keyword">'+{{ keyword|js }}+'</strong>'); 
	detailContent = '{{ news.news_summary|replace_entity|js }}'
	detailContent = detailContent.replaceAll({{ keyword|js }}, '<strong class="keyword">'+{{ keyword|js }}+'</strong>').replaceAll('\n', '<br>');
	$('.news-detail .n-title').html(title);
	$('.news-detail .n-content .details').html(detailContent);

	if({{ news.positive_count|js }} > 0 || {{ news.negative_count|js }} > 0){
		negaPer = Math.floor(100 * {{ news.negative_count|js }} / ({{ news.negative_count|js }} + {{ news.positive_count|js }}))
		posiPer = 100 - negaPer
		if({{ news.va_count|js }} > 0 && {{ news.morpheme_count|js }} > 0){
			vaPer = ({{ news.va_count|js }} / {{ news.morpheme_count|js }}).toFixed(2);
			$('.mining-result .va').css('width', vaPer +'%').attr('title', '형용사 노출 수 : {{ news.va_count|js }}개').html('감성지수' + vaPer +'%');
		}
		$('.mining-result .positive').css('width', posiPer +'%').attr('title', '긍정단어 노출 수 : {{ news.positive_count|js }}개').html('긍정 '+ posiPer +'%');
		$('.mining-result .negative').css('width', negaPer +'%').attr('title', '긍정단어 노출 수 : {{ news.negative_count|js }}개').html('부정' + negaPer +'%');
	}else{
		$('.mining-result').html('<p class="txt-ing">분석 중인 뉴스기사입니다.</p>');
	}
});
</script>
</body>
</html>
{% endblock %}