{% extends 'website/common/template.html' %}
{% load static %}
{% load custom_tags %}
{% block content %}
	<section class="container">
		<div class="category-list">
			<div class="inner">
				<!-- 카테고리별 뉴스 -->
				<ul class="sub-menu category show">
					<li class="active"><a href="javascript:;">중고차 뉴스</a></li>
					<li><a href="javascript:;">신차 뉴스</a></li>
					<li><a href="javascript:;">시승기</a></li>
					<li><a href="javascript:;">자동차 업계 뉴스</a></li>
				</ul>
				<!-- 언론사별 뉴스 -->
				<ul class="sub-menu media">
					<li class="active"><a href="javascript:;">오토헤럴드</a></li>
					<li><a href="javascript:;">데일리카</a></li>
					<li><a href="javascript:;">오토뷰</a></li>
					<li><a href="javascript:;">IT조선</a></li>
					<li><a href="javascript:;">오토모닝</a></li>
					<li><a href="javascript:;">오토다이어리</a></li>
					<li><a href="javascript:;">카가이</a></li>
					<li><a href="javascript:;">더드라이브</a></li>
				</ul>
				<!-- 검색 -->
				<div class="result-info">
					<p>"<span></span>"에 대한 검색결과가 총 <strong></strong>건 있습니다.</p>
					<a href="javascript:;" onclick="loadNewsList(0, 'category', 0, 12, 'default', 'change');"><span>🔙</span> 돌아가기</a>
				</div>
			</div>
		</div>
		<div class="item-list">
			<div class="inner">
				<div class="list-top">
					<p class="txt-guide">* 뉴스 기사를 클릭하면 해당 뉴스로 이동됩니다.</p>
					{% comment %} 
					목록 타입 (스타일) 변경
					<div class="list-type">
						<button type="button" class="btn type01 active"></button>
						<button type="button" class="btn type02"></button>
					</div> 
					{% endcomment %}
				</div>
				<ul class="news-group show"></ul>
			</div>
		</div>
	</section>
	<div class="loading" style="display:block;">
		<div class="dim"></div>
		<div class="loading-box">
			<div class="out-box">
				<i class="in-box"></i>
			</div>
			<p>
				데이터를 불러오는 중입니다.<br>
				(잠시만 기다려주세요.)
			</p>
		</div>
	</div>
</div>

<!-- Javascript -->
<script type="text/javascript" src="{% static 'js/jquery-1.12.4.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery-ui.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/swiper.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/common.js' %}"></script>
<script>
var connFlag = false;
$(function(){
	//최초 목록
	loadNewsList(0, 'category', 0, 12);
	$('#wrap').addClass('category');
	//카테고리 클릭
	$('.category-list ul li a').on('click', function(){
		var choicedListType = $(this).closest('.sub-menu').hasClass('category') ? 'category' : 'media'
		$('#wrap').prop('class', '').addClass(choicedListType);
		if(!connFlag){
			var idx = $(this).parent('li').index();
			var categoryBeforeCurrIdx = $('.category-list ul li.active').index();
			if(idx !== categoryBeforeCurrIdx){
				$(this).closest('ul').find('li').removeClass('active');
				$(this).parent('li').addClass('active');
				if($(this).closest('ul').hasClass('category')){
					loadNewsList(idx, 'category', 0, 12);
				}else if($(this).closest('ul').hasClass('media')){
					loadNewsList(idx, 'media', 0, 12);
				}
			}
			
		}
	});
	//좋아요(찜)
	$(document).on('click', '.item-list ul li .btn-like', function(){
		alert('카뉴스.zip 회원 전용 기능입니다.');
		location.href='/login';
	});
	//스크롤 로드 (페이징)
	$(window).on('scroll', function(e){
		if(($(window).innerHeight() + $(window).scrollTop()) >= $('body').height()) {
			if(!connFlag){
				var thisCategory = $('.sub-menu.show li.active').index();
				var thisNewsType = $('#wrap').prop('class');
				var nowListLength = $('.news-group li').length;
				if($('#wrap').hasClass('search-result')){
					var keyword = $('#search_keyword').val();
					loadNewsList(99, 'all', nowListLength, 12, 'more', null, keyword);
				}else{
					loadNewsList(thisCategory, thisNewsType, nowListLength, 12, 'more');
				}
			}
		}
	});
});
	
//news list > view count
function viewCountUp(idx, nowCount, newsCode){
	$.ajax({
		url: '{% url "view_count" %}',
		type: 'GET',
		data: {
			'now_count': nowCount,
			'news_code': newsCode
		},
		dataType: 'json',
		success: function(data){
			$('.news-group.show li').eq(idx).find('.view-cnt').children('strong').text(data);
		}
	});
}
//news load
function loadNewsList(idx, list_type, start_idx, load_length, load_type, fnc_type, search_keyword){
	console.log('@@@', list_type)
	$('.loading').show();
	connFlag = true;
	$.ajax({
		url: '{% url "list_data" %}',
		type: 'GET',
		data: {
			'list_idx': idx,
			'list_type': list_type,
			'start_idx': start_idx,
			'load_length': load_length,
			'search_keyword': search_keyword
		},
		dataType: 'json',
		success: function(data){
			$('.loading').hide();
			var newsItem = "";		
			json_data = JSON.parse(data.news)
			total_length = data.total_length
			console.log(total_length)
			for(i = 0; i < json_data.length; i++){
				list = json_data[i].fields;
				var media_name = '';
				if(list.media_code == '100'){
					media_name = 'ah'
				}else if(list.media_code == '200'){
					media_name = 'daily'
				}else if(list.media_code == '300'){
					media_name = 'auto-view'
				}else if(list.media_code == '400'){
					media_name = 'chosun'
				}else if(list.media_code == '500'){
					media_name = 'auto-morning'
				}else if(list.media_code == '600'){
					media_name = 'auto-diary'
				}else if(list.media_code == '700'){
					media_name = 'carguy'
				}else if(list.media_code == '800'){
					media_name = 'drive'
				}
				newsItem += '<li data-news-code="' + list.news_code + '">';
				newsItem += '<a href="' + list.news_url + '" target="_blank" title="' + list.news_title + '">';
				if(list.media_code == '200' || /*list.media_code == '500' ||*/ list.news_img_url == 'None' || list.news_img_url == ''){
					newsItem += '<div class="picture">';
					newsItem += '<p><span class="ico">😰</span><br>해당 언론사에서<br>이미지를 불러올 수 없습니다.</p>';
					newsItem += '</div>';
				}else{
					newsItem += '<div class="picture" style="background:url(\'' + list.news_img_url + '\') no-repeat center; background-size:cover;"></div>';
				}
				newsItem += '<div class="info-box">';
				newsItem += '<div class="tags">';
				if(list.write_date == '{{ today_date|escapejs }}'){
					newsItem += '<span class="today">TODAY</span>';
				}
				newsItem += '<span class="'+ media_name +'">' + list.media_name + '</span>';
				newsItem += '</div>';
				newsItem += '<p class="subject">' + list.news_title + '</p>';
				newsItem += '<p class="summary">' + list.news_summary + '</p>';
				newsItem += '</div>';
				newsItem += '</a>';
				newsItem += '<div class="infos">';
				newsItem += '<span class="date">' + list.write_date + '</span>';
				newsItem += '<span class="view-cnt" title="이 기사 조회수">👁 <strong>' + list.view_count + '</strong></span>'
				newsItem += '<button type="button" class="btn-like" title="이 기사 찜하기">👍 <strong>0</strong></button>';
				newsItem += '</div>';
				newsItem += '</li>';
			}
			if(load_type == 'more'){
				$('.news-group').append(newsItem);
				var nowScrollTop = $('html, body').scrollTop();
				$('html, body').animate({scrollTop: nowScrollTop + 100}, 150);
			}else{
				$('.news-group').html(newsItem);
				$('document, html').scrollTop(0);
			}

			if(load_type == 'search'){
				var keyword = $('#search_keyword').val();
				$('.result-info p span').text(keyword);
				$('.result-info p strong').text(total_length);
				$('.category-list .sub-menu').removeClass('show');
				$('.category-list .result-info').addClass('show');
			}

			//sub menu
			console.log(list_type)
			if(fnc_type == 'change'){
				$('.category-list ul').removeClass('show');
				$('.category-list ul li').removeClass('active');
				$('.category-list .result-info').removeClass('show');

				if(list_type == 'category'){
					$('#wrap').prop('class', '').addClass('category');
					$('.category-list ul.category').addClass('show');
				}else if(fnc_type == 'media'){
					$('#wrap').prop('class', '').addClass('media');
					$('.category-list ul.media').addClass('show');
				}
				$('.category-list ul.sub-menu.show li').eq(0).addClass('active');
			}

			//close gnb box
			$('.header .btn-gnb').removeClass('active');
			$('.gnb-box, .header .fncs').removeClass('show');
			connFlag = false;
		},
		error : function(request, status, error){
			console.log(error)
		},
	});
}
</script>
</body>
</html>
{% endblock %}