{% extends 'website/common/template.html' %}
{% load static %}
{% load custom_tags %}
{% block content %}
	<section class="container">
		<div class="category-list">
			<div class="inner">
				<!-- 카테고리별 뉴스 -->
				<ul class="sub-menu category">
					<li class="active"><a href="javascript:;">자동차 업계 뉴스</a></li>
					<li><a href="javascript:;">중고차 뉴스</a></li>
					<li><a href="javascript:;">신차 뉴스</a></li>
					<li><a href="javascript:;">시승기</a></li>
				</ul>
				<!-- 언론사별 뉴스 -->
				<ul class="sub-menu media">
					<li class="active"><a href="javascript:;">오토헤럴드</a></li>
					<li><a href="javascript:;">데일리카</a></li>
					<li><a href="javascript:;">오토뷰</a></li>
					<li><a href="javascript:;">IT조선</a></li>
					<li><a href="javascript:;">오토모닝</a></li>
					<li><a href="javascript:;">오토다이어리</a></li>
					<li><a href="javascript:;">카가이</a></li>
					<li><a href="javascript:;">더드라이브</a></li>
					<li><a href="javascript:;">모터그래프</a></li>
					<li><a href="javascript:;">탑라이더</a></li>
					<li><a href="javascript:;">글로벌모터즈</a></li>
					<li><a href="javascript:;">모터매거진</a></li>
				</ul>
				<!-- 검색 -->
				<div class="result-info">
					<p>"<span></span>"에 대한 연관된 뉴스가 총 <strong></strong>건 있습니다.</p>
					<a href="javascript:;" onclick="loadNewsList(0, 'category', 0, 15, 'default', 'change'); $('#search_keyword').val('')"><span>🔙</span> 돌아가기</a>
				</div>
			</div>
		</div>
		<div class="item-list">
			<div class="inner">
				<div class="list-top">
					<p class="txt-guide">* 뉴스 기사를 클릭하면 해당 뉴스로 이동됩니다.</p>
					<!-- 목록 타입 (스타일) 변경 -->
					<div class="list-type">
						<button type="button" class="btn type01 active" title="목록 세로 타입으로 보기"></button>
						<button type="button" class="btn type02" title="목록 가로 타입으로 보기"></button>
					</div> 
				</div>
				<ul class="news-group show"></ul>
			</div>
		</div>	
		<div class="all-list-summary">
			<div class="positive" style="width:0%;"></div>
			<div class="negative" style="width:0%;"></div>
		</div>
	</section>
	<div class="loading">
		<div class="dim"></div>
		<div class="loading-box">
			<div class="out-box">
				<i class="in-box"></i>
			</div>
			<p>
				데이터를 불러오는 중입니다.<br>
				(잠시만 기다려주세요.)
			</p>
		</div>
	</div>

	<!-- 공지사항 -->
	<div class="notice-wrap">
		<div class="dim"></div>
		<div class="notice-box">
			<a href="javascript:;" class="btn-close">X</a>
			<h2 class="notice-title">2021.02.22 업데이트 알림</h2>
			<div class="notice-cont">
				<ul>
					<li>
						<strong class="title">신규 언론사 추가</strong>
						<p>
							뉴스 수집 업체에 "탑라이더" 언론사를 추가하였었습니다.
						</p>
					</li>
					<li>
						<strong class="title">차량 모델별 시승기 / 여론 모음 메뉴 추가</strong>
						<p>
							차량 모델별 시승기 / 여론 모음 메뉴가 추가되었습니다.<br>
							모델별로 유튜브 시승영상 상위(연관성) 10개를 한곳에서 볼 수 있고, 
							해당 영상들의 댓글을 모두 수집하여 노출시켜 해당 모델의 여론이 
							어떤지 파악 할 수 있기를 기대합니다. <br>
							(유튜브 영상의 댓글이기때문에 차량과 무관한 내용의 댓글이 존재합니다.)							
						</p>
					</li>
				</ul>
			</div>
			<a href="javascript:;" class="btn-check">확인 (오늘하루 열지 않기)</a>
		</div>
	</div>
</div>

<script>
var connFlag = false;
$(function(){	
	
	//오늘 하루 보지 않기
	/*
	if($.cookie('noticeCookie') == undefined){
		$('.notice-wrap').show();
		$.cookie('noticeCookie', 'done', { expires: 1, path: '/' });
	}
	$('.notice-wrap .btn-close').on('click', function(){
		$('.notice-wrap').hide();
	});
	$('.notice-wrap .btn-check').on('click', function(){
		$.cookie('noticeCookie', 'done', { expires: 1, path: '/' });
		$('.notice-wrap').hide();
	});*/

	//카테고리 클릭
	$('.category-list ul li a').on('click', function(){
		var choicedListType = $(this).closest('.sub-menu').hasClass('category') ? 'category' : 'media'
		$('#wrap').prop('class', '').addClass(choicedListType);
		if(!connFlag){
			var idx = $(this).parent('li').index();
			var categoryBeforeCurrIdx = $('.category-list ul li.active').index();
			if(idx !== categoryBeforeCurrIdx){
				$(this).closest('ul').find('li').removeClass('active');
				$(this).parent('li').addClass('active');
				if($(this).closest('ul').hasClass('category')){
					loadNewsList(idx, 'category', 0, 15);
				}else if($(this).closest('ul').hasClass('media')){
					loadNewsList(idx, 'media', 0, 15);
				}
			}
			
		}
	});
	//좋아요(찜)
	$(document).on('click', '.item-list ul li .btn-like', function(){
		alert('카뉴스.zip 회원 전용 기능입니다.');
		location.href='/login';
	});
	//목록타입 변경
	$('.list-type .btn').on('click', function(){
		idx = $(this).index();
		$('.list-type .btn').removeClass('active').eq(idx).addClass('active');
		if(idx == 0){
			$('.news-group').removeClass('type02');
		}else if(idx == 1){
			$('.news-group').addClass('type02');
		}
	});

	//스크롤 로드 (페이징)
	$(window).on('scroll', function(e){
		if(($(window).innerHeight() + $(window).scrollTop()) >= $('body').height() - 150) {
			if(!connFlag){
				var thisCategory = $('.sub-menu.show li.active').index();
				var thisNewsType = $('#wrap').prop('class');
				var nowListLength = $('.news-group li').length;
				if($('#wrap').hasClass('search-result')){
					var keyword = $('#search_keyword').val();
					loadNewsList(99, 'all', nowListLength, 12, 'more', null, keyword);
				}else{
					loadNewsList(thisCategory, thisNewsType, nowListLength, 12, 'more');
				}
			}
		}
	});

	//news view count
	$(document).on('click', '.item-list ul li a', function(){
		var idx = $(this).parent('li').index();
		var nowCount = $(this).find('.infos').find('.view-cnt').children('strong').text();
		var newsCode = $(this).parent('li').data('news-code');
		{% comment %} alert('idx = '+ idx + ' / newscount=' + nowCount + ' / newscode = ' + newsCode) {% endcomment %}
		viewCountUp(idx, nowCount, newsCode)
	});

	//리사이징
	listTypeSet();
	$(window).resize(function(){
		listTypeSet();
	});
});

function listTypeSet(){
	var winWidth = $(window).width();
	if(winWidth <= 1280){
		$('.news-group').removeClass('type02');
		$('.list-type .btn').removeClass('active').eq(0).addClass('active');
	}
}
	
//news list > view count
function viewCountUp(idx, nowCount, newsCode){
	$.ajax({
		url: '{% url "view_count" %}',
		type: 'GET',
		data: {
			'now_count': nowCount,
			'news_code': newsCode
		},
		dataType: 'json',
		success: function(data){
			$('.news-group.show li').eq(idx).find('.view-cnt').children('strong').text(data);
		}
	});
}
</script>
</body>
</html>
{% endblock %}