{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
	<meta name="referrer" content="always">
	<meta name="mobile-web-app-capable" content="yes">
	<meta name="format-detection" content="telephone=no,address=no,email=no">
	<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0">
	<!-- Summary -->
	<meta name="Keywords" content="자동차, 자동차뉴스, 시승기, 중고차뉴스, 신차뉴스, 자동차업계, 자동차업계뉴스">
	<meta name="Description" content="카뉴스.zip은 8개 자동차 언론사들의 뉴스를 모아 제공합니다. (신차, 중고차, 시승기, 자동차업계)">
	<meta http-equiv="Author" content="카뉴스.zip">
	<meta http-equiv="Other Agent" content="카뉴스.zip">
	<meta http-equiv="Reply-To" content="naver@naver.com">
	<meta http-equiv="Email" content="naver@naver.com">
	<meta http-equiv="Build" content="2020.12" />
	<meta property="og:title" content="카뉴스.zip">
	<meta property="og:description" content="카뉴스.zip, 자동차 뉴스, 중고차 뉴스, 신차 뉴스, 자동차 시승기">
	<meta name="naver-site-verification" content="c7ce06c9ed9736eb46db21ed102e4dea95dfe089" />
	<meta name="google-site-verification" content="jt2p5-PNGgED4Z5xiMbyiENXRz7QGQtd6HxuQbAHYWw" />
	<title>카뉴스.zip 🙈 | CAR_NEWS_ZIP</title>
	<link rel="shortcut icon" href="{% static 'favico.png' %}">
	<!-- CSS -->
	<link rel="stylesheet" href="{% static 'css/reset.css' %}">
	<link rel="stylesheet" href="{% static 'css/jquery-ui.css' %}">
	<link rel="stylesheet" href="{% static 'css/swiper.css' %}">
	<link rel="stylesheet" href="{% static 'css/content.css' %}">
    <!--[if lt IE 9]>
		<script src="../resources/js/html5shiv.min.js"></script>
	<![endif]-->
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script data-ad-client="ca-pub-3984460457062336" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-T4CL1V9FXP"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());
		gtag('config', 'G-T4CL1V9FXP');
	</script>
</head>
<body>
<div id="wrap" class="category">
	<header class="header">
		<a href="javascript:;" class="btn-gnb" title="메뉴"></a>
		<h1 class="service-name">
			카뉴스.zip 🙈<sup>Beta!</sup><br>
			<span>
				{% if user %}
					{% if user == '심병기' %}
					<a href="{% url 'reload_list_data' %}" title="숨은기능 : 데이터 새로 받아오기 (약 1분 소요)" class="btn-reload-data">
					[{{ today_date }} {{ user }}님만을 위한 뉴스!]</a>
					{% else %}
					[{{ today_date }} {{ user }}님만을 위한 뉴스!]
					{% endif %}	
				{% else %}
					[{{ today_date }} CAR_NEWS.zip!]
				{% endif %}
			</span>
		</h1>
		<div class="fncs">
			{% if user %}
				<a href="/logout/" class="btn-login">로그아웃</a>
			{% else %}
				<a href="/join/" class="btn-logout">회원가입</a>
				<a href="/login/" class="btn-logout">로그인</a>
			{% endif %}
			<select name="" id="" class="view-mode-changer">
				<option value="dark">Dark mode</option>
				<option value="light" selected>Light mode</option>
			</select>
		</div>
		<section class="gnb-box">
			<div class="dim"></div>
			<div class="box">
				<nav class="menu">
					<ul>
						<li class="active">
							<a href="javascript:;" onclick="loadNewsList(0, 'category', 0, 12, 'default', 'change');">자동차 관련 뉴스 보기</a>
							<ul>
								<li class="active">&middot; <a href="javascript:;" onclick="loadNewsList(0, 'category', 0, 12, 'default', 'change');">뉴스 카테고리별 보기</a></li>
								<li>&middot; <a href="javascript:;" onclick="loadNewsList(0, 'media', 0, 12, 'default', 'change');">언론사별 보기</a></li>
							</ul>
						</li>
						{% comment %} <li>
							<a href="javascript:;">마이페이지</a>
							<ul>
								<li>&middot;  <a href="javascript:;">찜한 뉴스 목록</a></li>
							</ul>
						</li> {% endcomment %}
						<li>
							<a href="javascript:;">카뉴스.zip</a>
							<ul>
								{% comment %} <li>&middot;  <a href="javascript:;">카뉴스.zip 소개</a></li> {% endcomment %}
								<li>&middot;  <a href="mailto:dung8524@gmail.com">카뉴스.zip 문의하기</a></li>
							</ul>
						</li>
					</ul>
				</nav>
			</div>
		</section>
	</header>
	<section class="container">
		<div class="category-list">
			<div class="inner">
				<ul class="sub-menu category show">
					<li class="active"><a href="javascript:;">중고차 뉴스</a></li>
					<li><a href="javascript:;">신차 뉴스</a></li>
					<li><a href="javascript:;">시승기</a></li>
					<li><a href="javascript:;">자동차 업계 뉴스</a></li>
				</ul>
				<ul class="sub-menu media">
					<li class="active"><a href="javascript:;">오토헤럴드</a></li>
					<li><a href="javascript:;">데일리카</a></li>
					<li><a href="javascript:;">오토뷰</a></li>
					<li><a href="javascript:;">IT조선</a></li>
					<li><a href="javascript:;">오토모닝</a></li>
					<li><a href="javascript:;">오토다이어리</a></li>
					<li><a href="javascript:;">카가이</a></li>
					<li><a href="javascript:;">더드라이브</a></li>
				</ul>
			</div>
		</div>
		<div class="item-list">
			<div class="inner">
				<div class="list-top">
					<p class="txt-guide">* 뉴스 기사를 클릭하면 해당 뉴스로 이동됩니다.</p>
					<div class="list-type">
						<button type="button" class="btn type01 active"></button>
						<button type="button" class="btn type02"></button>
					</div>
				</div>
				<ul class="news-group show"></ul>
			</div>
		</div>
	</section>
	<div class="loading" style="display:block;">
		<div class="dim"></div>
		<div class="loading-box">
			<div class="out-box">
				<i class="in-box"></i>
			</div>
			<p>
				데이터를 불러오는 중입니다.<br>
				(잠시만 기다려주세요.)
			</p>
		</div>
	</div>
</div>

<!-- Javascript -->
<script type="text/javascript" src="/static/js/jquery-1.12.4.min.js"></script>
<script type="text/javascript" src="/static/js/jquery-ui.min.js"></script>
<script type="text/javascript" src="/static/js/swiper.min.js"></script>
<script type="text/javascript" src="/static/js/common.js"></script>

<script>
	var connFlag = false;
	$(function(){
		//최초 목록
		loadNewsList(0, 'category', 0, 12);

		$('.category-list ul li a').on('click', function(){
			if(!connFlag){
				var idx = $(this).parent('li').index();
				var categoryBeforeCurrIdx = $('.category-list ul li.active').index();
				if(idx !== categoryBeforeCurrIdx){
					$(this).closest('ul').find('li').removeClass('active');
					$(this).parent('li').addClass('active');
					if($(this).closest('ul').hasClass('category')){
						loadNewsList(idx, 'category', 0, 12);
					}else if($(this).closest('ul').hasClass('media')){
						loadNewsList(idx, 'media', 0, 12);
					}
				}
			}
		});

		$('.btn-reload-data').on('click', function(){
			$('.loading').show();
		});

		$('.header .btn-gnb').on('click', function(){
			if(!connFlag){
				if($(this).hasClass('active')){
					$(this).removeClass('active');
					$('.gnb-box, .header .fncs').removeClass('show');
				}else{
					$(this).addClass('active');
					$('.gnb-box, .header .fncs').addClass('show');
				}
			}
		});

		$('.gnb-box .menu ul ul a').on('click', function(){
			$('.gnb-box .menu ul ul li').removeClass('active');
			$(this).parent('li').addClass('active');
		});
		$('.gnb-box .dim').on('click', function(){
			//close gnb box
			$('.header .btn-gnb').removeClass('active');
			$('.gnb-box, .header .fncs').removeClass('show');
		});

		$('.view-mode-changer').on('change', function(){
			var skinMode = $(this).val();
			if(skinMode == 'dark'){
				$('#wrap').addClass('darkmode');
			}else{
				$('#wrap').removeClass('darkmode');
			}
		});


		$(document).on('click', '.item-list ul li a', function(){
			var idx = $(this).parent('li').index();
			var nowCount = $(this).siblings('.infos').find('.view-cnt').children('strong').text();
			var newsCode = $(this).parent('li').data('news-code');
			viewCountUp(idx, nowCount, newsCode)
		});

		$(document).on('click', '.item-list ul li .btn-like', function(){
			alert('카뉴스.zip 회원 전용 기능입니다.');
			location.href='/login';
		});
		
		$(window).on('scroll', function(e){
			if(($(window).innerHeight() + $(window).scrollTop()) >= $('body').height()) {
				if(!connFlag){
					var thisCategory = $('.sub-menu li.active').index();
					var thisNewsType = $('#wrap').prop('class');
					var nowListLength = $('.news-group li').length;
					loadNewsList(thisCategory, thisNewsType, nowListLength, 12, 'more');
				}
			}
		});
	});

	function viewCountUp(idx, nowCount, newsCode){
		$.ajax({
			url: '{% url "view_count" %}',
			type: 'GET',
			data: {
				'now_count': nowCount,
				'news_code': newsCode
			},
			dataType: 'json',
			success: function(data){
				$('.news-group.show li').eq(idx).find('.view-cnt').children('strong').text(data);
			}
		});
	}
	function loadNewsList(idx, list_type, start_idx, load_length, load_type, fnc_type){
		console.log('@@@', list_type)
		$('.loading').show();
		connFlag = true;
		$.ajax({
			url: '{% url "list_data" %}',
			type: 'GET',
			data: {
				'list_idx': idx,
				'list_type': list_type,
				'start_idx': start_idx,
				'load_length': load_length
			},
			dataType: 'json',
			success: function(data){
				$('.loading').hide();
				var newsItem = "";		
				console.log(data)
				for(i = 0; i < data.length; i++){
					list = data[i].fields;
					var media_name = '';
					if(list.media_code == '100'){
						media_name = 'ah'
					}else if(list.media_code == '200'){
						media_name = 'daily'
					}else if(list.media_code == '300'){
						media_name = 'auto-view'
					}else if(list.media_code == '400'){
						media_name = 'chosun'
					}else if(list.media_code == '500'){
						media_name = 'auto-morning'
					}else if(list.media_code == '600'){
						media_name = 'auto-diary'
					}else if(list.media_code == '700'){
						media_name = 'carguy'
					}else if(list.media_code == '800'){
						media_name = 'drive'
					}
					newsItem += '<li data-news-code="' + list.news_code + '">';
					newsItem += '<a href="' + list.news_url + '" target="_blank" title="' + list.news_title + '">';
					if(list.media_code == '200' || list.news_img_url == 'None' || list.news_img_url == ''){
						newsItem += '<div class="picture">';
						newsItem += '<p><span class="ico">😰</span><br>해당 언론사에서<br>이미지를 불러올 수 없습니다.</p>';
						newsItem += '</div>';
					}else{
						newsItem += '<div class="picture" style="background:url(\'' + list.news_img_url + '\') no-repeat center; background-size:cover;"></div>';
					}
					newsItem += '<div class="info-box">';
					newsItem += '<div class="tags">';
					if(list.write_date == '{{ today_date|escapejs }}'){
						newsItem += '<span class="today">TODAY</span>';
					}
					newsItem += '<span class="'+ media_name +'">' + list.media_name + '</span>';
					newsItem += '</div>';
					newsItem += '<p class="subject">' + list.news_title + '</p>';
					newsItem += '<p class="summary">' + list.news_summary + '</p>';
					newsItem += '</div>';
					newsItem += '</a>';
					newsItem += '<div class="infos">';
					newsItem += '<span class="date">' + list.write_date + '</span>';
					newsItem += '<span class="view-cnt" title="이 기사 조회수">👁 <strong>' + list.view_count + '</strong></span>'
					newsItem += '<button type="button" class="btn-like" title="이 기사 찜하기">👍 <strong>0</strong></button>';
					newsItem += '</div>';
					newsItem += '</li>';
				}
				if(load_type == 'more'){
					$('.news-group').append(newsItem);
					var nowScrollTop = $('html, body').scrollTop();
					$('html, body').animate({scrollTop: nowScrollTop + 100}, 150);
				}else{
					$('.news-group').html(newsItem);
					$('document, html').scrollTop(0);
				}

				//sub menu
				console.log(list_type)
				if(fnc_type == 'change'){
					$('.category-list ul').removeClass('show');
					$('.category-list ul li').removeClass('active');
					
					if(list_type == 'category'){
						$('#wrap').prop('class', '').addClass('category');
						$('.category-list ul.category').addClass('show');
					}else if(list_type == 'media'){
						$('#wrap').prop('class', '').addClass('media');
						$('.category-list ul.media').addClass('show');
					}
					$('.category-list ul.sub-menu.show li').eq(0).addClass('active');
				}

				//close gnb box
				$('.header .btn-gnb').removeClass('active');
				$('.gnb-box, .header .fncs').removeClass('show');
				connFlag = false;
			},
			error : function(request, status, error){
				console.log(error)
			},
		});
	}
</script>
</body>
</html>