@charset "utf-8";
/* skin */
#wrap {min-width:350px; transition:all .3s;}
#wrap.darkmode {background:#777;}
#wrap.darkmode .header {background:#000; border-bottom:1px solid #555;}
#wrap.darkmode .header .service-name {color:#fff;}
#wrap.darkmode .header .btn-reload-data {color:#999;}
#wrap.darkmode .header .view-mode-changer {color:#fff; background:#777;}
#wrap.darkmode .category-list {background:#333;}
#wrap.darkmode .item-list ul li {background:#333; border:1px solid #999}
#wrap.darkmode .item-list ul li .subject {color:#fff;}
#wrap.darkmode .item-list ul li .summary {color:#999;}
#wrap.darkmode .item-list ul li .infos .btn-like strong {color:#777;}
#wrap.darkmode .header .gnb-box .dim {background:rgba(0,0,0,.55);}
#wrap.darkmode .header .gnb-box .box {background:#000;}
#wrap.darkmode .header .gnb-box .box .menu > ul > li > a {color:#fff;}
#wrap.darkmode .header .gnb-box .box .menu > ul > li > ul,
#wrap.darkmode .header .gnb-box .box .menu > ul > li > li a {color:#999;}

.header {position:fixed; top:0; left:0; z-index:200; padding-top:24px; width:100%; height:120px; text-align:center; border-bottom:1px solid #ddd; background:#fff; box-sizing:border-box; border:2px solid #fff;}
.header .btn-gnb {position:absolute; left:5%; z-index:100; width:60px; height:60px; -webkit-box-sizing:border-box; box-sizing:border-box; background:#fff; transition:all .3s; border:3px solid #444;}
.header .btn-gnb:before, 
.header .btn-gnb:after {display:block; content:""; position:absolute; left:50%; top:50%; width:36px; height:3px; background:#000; -webkit-transform:translateX(-50%); transform:translateX(-50%); -webkit-transition:all 0.35s cubic-bezier(0.23, 1, 0.32, 1); transition:all 0.35s cubic-bezier(0.23, 1, 0.32, 1);}
.header .btn-gnb:before {margin-top:-8px;}
.header .btn-gnb:after {margin-top:4px;}
.header .btn-gnb.active {left:40px; border:2px solid #444;}
.header .btn-gnb.active:before {margin-top:-2px; -webkit-transform:translateX(-50%) rotate(45deg) translateZ(0); transform:translateX(-50%) rotate(45deg) translateZ(0);}
.header .btn-gnb.active:after {margin-top:-2px; -webkit-transform:translateX(-50%) rotate(-45deg) translateZ(0); transform:translateX(-50%) rotate(-45deg) translateZ(0);}
.header .service-name {font-size:40px; font-weight:800;}
.header .service-name span {font-size:22px; font-weight:600;}
.header .service-name span.date {letter-spacing:-1px; font-size:18px;}
.header .service-name span a,
.header .service-name span a:visited {color:#444;}
.header .fncs {position:absolute; right:5%; top:20px;}
.header .fncs a {margin-right:14px; line-height:38px; color:#888; font-size:14px; font-weight:600; text-align:right;}
.header .fncs a:hover {color:#000;}

.header .gnb-box {position:fixed; left:0; top:0;}
.header .gnb-box .dim {display:none; position:fixed; left:0; top:0; z-index:200; width:100%; height:100%; background:rgba(0,0,0,.7);}
.header .gnb-box.show .dim {display:block;}
.header .gnb-box .box {position:fixed; left:-20%; top:0; z-index:200; padding-top:140px; padding-left:40px; width:20%; height:100%; text-align:left; background:#fff; box-sizing:border-box; transition:all .3s;}
.header .gnb-box.show .box {left:0;}
.header .gnb-box .box .menu > ul > li + li {margin-top:38px;}
.header .gnb-box .box .menu > ul > li.active > a {color:#00affa; text-decoration:underline;}
.header .gnb-box .box .menu > ul > li > a {font-size:22px; color:#444; font-weight:600;}
.header .gnb-box .box .menu > ul > li ul {margin-top:16px; padding-left:18px;}
.header .gnb-box .box .menu > ul > li ul li + li {margin-top:12px;}
.header .gnb-box .box .menu > ul > li ul li a {color:#666; font-size:16px;}
.header .gnb-box .box .menu > ul > li ul li.active a,
.header .gnb-box .box .menu > ul > li ul li a:hover {text-decoration:underline;}

.container {padding-top:180px;}
.container .inner {position:relative; margin:0 auto; padding:10px 0; width:90%;}

.item-list .inner {padding-top:20px;}
.item-list .txt-guide {color:#333;}
.item-list ul {display:none; flex-wrap:wrap; padding-bottom:20px;}
.item-list ul.show {display:flex;}
.item-list ul li {position:relative; top:0; margin:20px 0 0 2%; padding:15px 15px 30px; width:23.5%; background:#fff; box-sizing:border-box; transition:all .2s; border:1px solid #ddd;}
.item-list ul li:hover {top:-2px; box-shadow:0 3px 15px rgba(0,0,0,.2);}
.item-list ul li:first-child,
.item-list ul li:nth-child(4n+1) {margin-left:0;}
.item-list ul li a {display:block; width:100%; height:100%;}
.item-list ul li .picture {width:100%; height:280px; background:#ccc;}
.item-list ul li .picture p {padding:100px 0 0; line-height:18px; color:#888; font-size:14px; text-align:center;}
.item-list ul li .picture p .ico {display:block; font-size:22px;}
.item-list ul li .info-box {height:120px;}
.item-list ul li .tags {position:absolute; top:15px;}
.item-list ul li .tags span {display:inline-block; padding:0 5px; height:22px; line-height:22px; color:#fff; box-shadow:0 1px 1px rgba(0,0,0,.8);}
.item-list ul li .tags span + span {margin-left:3px;}
.item-list ul li .tags span.group {background:#444;}
.item-list ul li .tags span.category {background:#ef685e;}
.item-list ul li .tags span.ah {background:#555;}
.item-list ul li .tags span.today {background:#c90824;}
.item-list ul li .tags span.daily {background:#c90824;}
.item-list ul li .tags span.auto-view {background:#f36f21;}
.item-list ul li .tags span.auto-morning {background:#093aa7;}
.item-list ul li .tags span.auto-diary {background:#620027;}
.item-list ul li .tags span.chosun {background:#ce2c2c;}
.item-list ul li .tags span.carguy {background:#000;}
.item-list ul li .tags span.drive {background:#00adee;}
.item-list ul li .subject {margin:20px 0 10px; line-height:26px; letter-spacing:-1px; font-size:20px; font-weight:600; overflow:hidden; text-overflow:ellipsis; white-space:nowrap;}
.item-list ul li .summary {display:-webkit-box; word-wrap:break-word; -webkit-line-clamp:3; -webkit-box-orient:vertical; overflow:hidden; text-overflow:ellipsis; line-height:20px; color:#444; font-size:15px;}
.item-list ul li a:hover .subject {text-decoration:underline;}
.item-list ul li .infos {position:absolute; left:15px; bottom:15px; width:calc(100% - 30px)}
.item-list ul li .infos span {position:relative; color:#777;}
.item-list ul li .infos span + span {margin-left:13px;}
.item-list ul li .infos span + span:after {display:block; content:"|"; position:absolute; left:-9px; top:1px; color:#ddd;}
.item-list ul li .infos .btn-like {position:absolute; right:5px; bottom:-4px; line-height:24px;}
.item-list ul li .infos .btn-like:active {bottom:-5px;}
.item-list ul li .infos .btn-like strong {position:relative; top:1px; margin-left:3px; font-size:16px;}

.category-list {position:fixed; top:120px; left:0; z-index:100; width:100%; height:60px; background:#444; box-sizing:border-box;}
.category-list ul {display:none; flex-wrap:wrap; margin-top:5px;}
.category-list ul.show {display:flex;}
.category-list ul li a {color:#999; font-size:26px; font-weight:600;}
.category-list ul li.curr {border-bottom:1px solid #fff; background:#666;}
.category-list ul li.curr a {color:#fff;}
.category-list ul li:hover {text-decoration:underline;}
.category-list ul li {margin-right:25px;}
.category-list ul li:last-child {margin-right:0;}
.category-list ul li:first-child {color:#d00;}

.loading {display:none;}
.loading .loading-box {position:fixed; left:50%; top:40%; z-index:400; margin-left:-190px; padding:40px 40px 30px; width:300px; text-align:center; background:#fff; box-shadow:0 3px 0 rgba(0,0,0,.2); border:1px solid #ddd;}
.loading .loading-box .out-box {position:relative; width:100%; height:6px; background:#999; overflow:hidden;}
.loading .loading-box .out-box .in-box {animation:moveBox 1.5s ease-in-out infinite alternate-reverse; position:absolute; top:1px; left:-77%; width:80%; height:4px; background:#000;}
.loading .loading-box p {margin-top:20px; line-height:26px; color:#222; font-size:18px;}
@keyframes moveBox {
	from {left:-77%;}
	to {left:97%;}
}

/* common */
.default-form input[type="email"],
.default-form input[type="password"],
.default-form input[type="text"] {padding:0 12px; width:100%; height:40px; letter-spacing:0; font-size:14px; box-sizing:border-box; border:1px solid #ddd;}
.default-form input[type="email"]:focus,
.default-form input[type="password"]:focus,
.default-form input[type="text"]:focus {border:1px solid #00affa;} 
.default-form input[type="password"] {font-family:'맑은고딕', Malgun-Gothic;}
.default-form .message {margin:10px 0 20px; color:#d00; font-size:14px;}
.default-form .btn {display:flex; justify-content:space-between; margin-top:10px;}
.default-form .btn button,
.default-form .btn a {display:block;}
.default-form .btn.full button,
.default-form .btn.full a {width:100%; height:46px; font-size:16px; font-weight:600; text-align:center;}
.btn-deep-gray {color:#fff; border:1px solid #444; background:#444;}

/* login */
.member-p {margin:0 auto; width:90%; max-width:400px;}
.member-p .service-name {font-size:35px; font-weight:400; text-align:center;}
.member-p .service-name a {color:#999;}
.member-p .service-name span {color:#444; font-weight:600;}
.member-p .member-box {margin-top:15px; padding:15px 0;}
.member-p .member-box select {margin-top:5px; width:100%; border:1px solid #ddd;}
.default-form input[name='memb-name'],
.member-p .member-box input[type="password"] {margin-top:5px;}
.member-p .member-box .check-member {margin-top:20px; line-height:20px; font-size:14px; text-align:center;}
.member-p .member-box .link-join {display:block; margin-top:10px; color:#00affa; font-size:16px; text-align:center; text-decoration:underline;}


/***** 
    responsive 
                */
/*****
     1280 < w 
                */
@media screen and (max-width: 1280px) {
	.item-list ul li {width:32%;}
	.item-list ul li + li {margin-left:2%;}
	.item-list ul li:first-child, 
	.item-list ul li:nth-child(4n+1) {margin-left:2%;}
	.item-list ul li:first-child,
	.item-list ul li:nth-child(3n+1) {margin-left:0;}
}                
/*****
     1024 > w 
                */
@media screen and (max-width: 1040px) {
	.header .gnb-box .box {left:-40%; padding-top:140px; padding-left:40px; width:40%;}
	.category-list {height:50px;}
	.category-list ul li a {font-size:21px;}
}
/*****
     880 > w 
                */
@media screen and (max-width: 880px) {
	.category-list ul li a {font-size:18px;}
    .item-list ul li {width:48.5%;}
	.item-list ul li + li,
	.item-list ul li:first-child, 
	.item-list ul li:nth-child(4n+1),
	.item-list ul li:first-child,
	.item-list ul li:nth-child(3n+1) {margin-left:0;}
	.item-list ul li:nth-child(2n) {margin-left:3%;}
}
/*****
     768 > w 
                */
@media screen and (max-width: 768px) {
	#wrap.category-news .container {padding-top:155px;}
	#wrap.media-news .container {padding-top:182px;}
	.header {padding:20px 5%; text-align:left;}
	.header .service-name {text-align:center;}
	.header .service-name span {font-size:20px;}
	.header .fncs {opacity:0; z-index:200; transition:all .4s;}
	.header .fncs.show {opacity:1;}
	.header .btn-gnb.active {left:20px;}
	.header .btn-gnb {left:2%; top:20px; width:40px; height:40px; border:2px solid #444;}
	.header .btn-gnb:before, 
	.header .btn-gnb:after {width:25px;}
	.header .gnb-box .box {left:-65%; padding-top:120px; padding-left:20px; width:65%;}
	.item-list ul li {margin-top:12px; padding-bottom:15px; width:100%;}
	.item-list ul li:nth-child(2n) {margin-left:0;}
	.item-list ul li a {display:flex; justify-content:space-between;}
	.item-list ul li .picture {width:125px; height:125px; overflow:hidden;}
	.item-list ul li .picture p {padding:26px 0 0; line-height:16px; font-size:12px;}
	.item-list ul li .info-box {width:calc(100% - 140px);}
	.item-list ul li .tags {left:0; top:0;}
	.item-list ul li .subject {margin:0 0 10px;}
	.item-list ul li .infos {position:absolute; left:auto; right:15px; bottom:15px; width:calc(100% - 170px);}
	.category-list {height:auto;}
	.category-list .inner {padding-bottom:0;}
	.category-list ul {margin-top:0;}
	.category-list ul li {margin-right:18px; margin-bottom:10px;}
}

@media screen and (max-width: 450px) {
	#wrap.category-news .container {padding-top:135px;}
	#wrap.media-news .container {padding-top:160px;}
	.header {height:105px;}
	.header .service-name {font-size:32px;}
	.header .service-name span {display:block; margin-top:14px; font-size:18px;}
	.header .btn-gnb {top:14px;}
	/* .header .fncs a {display:block; position:fixed; bottom:0; left:0; width:100%; height:50px; line-height:50px; color:#fff; font-size:18px; font-weight:600; text-align:center; background:#444;} */
	.header .gnb-box .box {left:-90%; width:90%;}
	.container .inner {width:96%;}
	.item-list {padding-bottom:40px;}
	.item-list .txt-guide {font-size:14px;}
	.category-list {top:105px;}
	.category-list ul li {margin-right:10px;}
	.category-list ul li a {font-size:13px;}
	.item-list ul li {margin-top:10px; padding-top:10px; padding-bottom:10px;}
	.item-list ul li .picture {width:80px; height:80px;}
	.item-list ul li .picture p {padding:20px 0 0;}
	.item-list ul li .tags span {padding:0 4px; height:18px; line-height:20px; font-size:11px;}
	.item-list ul li .tags span + span {margin-left:0;}
	.item-list ul li .info-box {width:calc(100% - 90px); height:105px;}
	.item-list ul li .subject {margin-bottom:5px; line-height:22px; font-size:15px;}
	.item-list ul li .summary {line-height:17px; font-size:13px;}
	.item-list ul li .infos {bottom:10px; width:calc(100% - 120px);}
	.item-list ul li .infos span {font-size:13px;}
	.item-list ul li .infos .btn-like strong {top:0; font-size:14px;}
	.loading .dim {position:fixed; left:0; top:0; z-index:300; width:100%; height:100%; background:rgba(0,0,0,.7);}
	.loading .loading-box {margin-left:-165px; width:250px;}
	.loading .loading-box p {line-height:20px; font-size:16px;}
}