@charset "utf-8";
/* skin */
#wrap {min-width:350px; transition:all .3s;}
#wrap.darkmode {background:#242424;}
#wrap.darkmode .header {background:#000; border-bottom:1px solid #555;}
#wrap.darkmode .header .service-name > a {color:#999;}
#wrap.darkmode .header .service-name a span {color:#fff}
#wrap.darkmode .header .btn-reload-data {color:#999;}
#wrap.darkmode .header .view-mode-changer {color:#fff; background:#777;}
#wrap.darkmode .category-list {background:#333;}
#wrap.darkmode .item-list ul li {background:#333; border:1px solid #999}
#wrap.darkmode .item-list ul li .subject {color:#fff;}
#wrap.darkmode .item-list ul li .summary {color:#999;}
#wrap.darkmode .item-list ul li .infos .btn-like strong {color:#777;}
#wrap.darkmode .header .gnb-box .dim {background:rgba(0,0,0,.55);}
#wrap.darkmode .header .gnb-box .box {background:#000;}
#wrap.darkmode .header .gnb-box .box .menu > ul > li > a {color:#fff;}
#wrap.darkmode .header .gnb-box .box .menu > ul > li > ul,
#wrap.darkmode .header .gnb-box .box .menu > ul > li > li a {color:#999;}
#wrap.darkmode .news-detail .n-info span,
#wrap.darkmode .news-detail .n-content .details,
#wrap.darkmode .news-detail .n-title {color:#fff;}
#wrap.darkmode .news-detail .n-info {border-color:#fff;}


.header {position:fixed; top:0; left:0; z-index:200; padding-top:12px; width:100%; height:150px; text-align:center; border-bottom:1px solid #ddd; background:#fff; box-sizing:border-box;}
.header .btn-gnb {position:absolute; left:5%; top:20px; z-index:100; width:60px; height:60px; -webkit-box-sizing:border-box; box-sizing:border-box; background:#fff; transition:all .3s; border:3px solid #444;}
.header .btn-gnb:before, 
.header .btn-gnb:after {display:block; content:""; position:absolute; left:50%; top:50%; width:36px; height:3px; background:#000; -webkit-transform:translateX(-50%); transform:translateX(-50%); -webkit-transition:all 0.35s cubic-bezier(0.23, 1, 0.32, 1); transition:all 0.35s cubic-bezier(0.23, 1, 0.32, 1);}
.header .btn-gnb:before {margin-top:-8px;}
.header .btn-gnb:after {margin-top:4px;}
.header .btn-gnb.active {left:40px; border:2px solid #444;}
.header .btn-gnb.active:before {margin-top:-2px; -webkit-transform:translateX(-50%) rotate(45deg) translateZ(0); transform:translateX(-50%) rotate(45deg) translateZ(0);}
.header .btn-gnb.active:after {margin-top:-2px; -webkit-transform:translateX(-50%) rotate(-45deg) translateZ(0); transform:translateX(-50%) rotate(-45deg) translateZ(0);}
.header .service-name {padding-top:0; font-size:40px; font-weight:800;}
.header .service-name > a {color:#000;}
.header .service-name > a:hover {color:#555;}
.header .service-name > a span {color:#2944cc; font-size:40px;}
.header .service-name span {font-size:22px; font-weight:800;}
.header .service-name span.date {letter-spacing:-1px; font-size:18px;}
.header .service-name span a,
.header .service-name span a:visited {color:#444;}
.header .service-name sup {position:relative; left:4px; top:-17px; color:#d00; font-size:16px; font-style:italic;}
.header .fncs {position:absolute; right:5%; top:20px; text-align:right;}
.header .fncs a {margin-right:14px; line-height:38px; color:#888; font-size:14px; font-weight:600; text-align:right;}
.header .fncs a:hover {color:#000;}
.header .fncs .box {display:inline-block;}
.header .btn-open-search {display:inline-block; width:38px; height:38px; font-size:18px; vertical-align:middle;}
.header .search-box {display:flex; margin:12px auto 0; width:22%; box-sizing:border-box;}
.header .search-box input[type="text"] {padding:0 12px; width:75%; height:45px; font-size:16px; border:0; border:1px solid #ddd; box-sizing:border-box;}
.header .search-box .btn-search {display:block; width:25%; height:45px; color:#fff; font-size:18px; font-weight:600; background:#2944cc;}
.header .search-recommend {text-align:center;}
.header .search-recommend a {display:inline-block; position:relative; padding:10px; color:#333; font-size:15px;}
.header .search-recommend a:after {display:block; content:""; position:absolute; left:-2px; top:12px; width:1px; height:10px; background:#ddd;}
.header .search-recommend a:first-child:after {display:none;}
.header .search-recommend a:hover {text-decoration:underline;}
.header.no-search {height:100px;}
.header.no-search .service-name {padding-top:18px;}
.header.no-search .search-box {display:none;}

.header .gnb-box {position:fixed; left:0; top:0;}
.header .gnb-box .dim {display:none; position:fixed; left:0; top:0; z-index:200; width:100%; height:100%; background:rgba(0,0,0,.7);}
.header .gnb-box.show .dim {display:block;}
.header .gnb-box .box {position:fixed; left:-25%; top:0; z-index:200; padding-top:140px; padding-left:40px; width:25%; height:100%; text-align:left; background:#fff; box-sizing:border-box; transition:all .3s;}
.header .gnb-box.show .box {left:0;}
.header .gnb-box .box .menu > ul > li + li {margin-top:38px;}
.header .gnb-box .box .menu > ul > li.active > a {color:#2944cc; text-decoration:underline;}
.header .gnb-box .box .menu > ul > li > a {font-size:22px; color:#444; font-weight:600;}
.header .gnb-box .box .menu > ul > li ul {margin-top:16px; padding-left:18px;}
.header .gnb-box .box .menu > ul > li ul li + li {margin-top:12px;}
.header .gnb-box .box .menu > ul > li ul li a {color:#666; font-size:16px;}
.header .gnb-box .box .menu > ul > li ul li.active a,
.header .gnb-box .box .menu > ul > li ul li a:hover {text-decoration:underline;}

.container {padding-top:210px; padding-bottom:60px;}
.container .inner {position:relative; margin:0 auto; padding:10px 0; width:90%;}

.page-btns {margin-top:20px;}
.page-btns.full .btn {width:100%;}
.page-btns .btn {display:block; height:55px; line-height:55px; font-size:20px; text-align:center;}
.page-btns .btn.darkgray {color:#fff; background:#444;}
.page-btns .btn.gray {color:#000; background:#ddd;}

.common-tab-content .tab ul {display:flex;}
.common-tab-content .tab ul li {width:50%; box-sizing:border-box; border:1px solid #ddd;}
.common-tab-content .tab ul li a {display:block; width:100%; height:42px; line-height:42px; color:#444; font-size:17px; text-align:center;}
.common-tab-content .tab ul li.active a {color:#fff; font-weight:600; background:#2944cc;}
.common-tab-content .content {padding:20px 0;}
.common-tab-content .content > article {display:none;}
.common-tab-content .content .active {display:block;}

/* 공지 */
.notice-wrap {display:none; position:fixed; left:0; top:0; z-index:1000; width:100%; height:100%;}
.notice-wrap .dim {position:fixed; left:0; top:0; width:100%; height:100%; background:rgba(0,0,0,.7);}
.notice-wrap .notice-box {position:fixed; left:50%; top:50%; padding:0 15px 50px 15px; width:90%; max-width:720px; background:#fff; transform:translate(-50%, -50%); box-sizing:border-box;}
.notice-wrap .notice-box .notice-title {height:60px; line-height:60px; font-size:20px; border-bottom:1px solid #ddd;}
.notice-wrap .notice-box .notice-cont {padding:30px 0; height:250px; overflow-y:auto;}
.notice-wrap .notice-box .notice-cont ul li {margin-top:15px;}
.notice-wrap .notice-box .notice-cont ul li:first-child {margin-top:0;}
.notice-wrap .notice-box .notice-cont .title {display:block; position:relative; padding-left:16px; font-size:18px;}
.notice-wrap .notice-box .notice-cont .title:after {display:block; content:"-"; position:absolute; left:0; top:0;}
.notice-wrap .notice-box .notice-cont p {padding:8px 15px; line-height:24px; color:#666; font-size:16px;}
.notice-wrap .notice-box .btn-check {display:block; position:absolute; left:0; bottom:0; width:100%; height:50px; line-height:50px; color:#fff; font-size:16px; text-align:center; background:#000;}
.notice-wrap .btn-close {position:absolute; right:0; top:0; width:60px; height:60px; line-height:60px; color:#000; font-size:26px; text-align:center;}

/* detail */
.news-detail-p .header {height:75px;}
.news-detail-p .header .service-name {padding-top:6px;}
.news-detail-p .container {padding-top:95px;}
.news-detail {margin:0 auto; padding-bottom:70px; width:90%; max-width:1100px;}
.news-detail .n-title {padding:18px 0; line-height:30px; font-size:28px; font-weight:600; border-bottom:1px solid #ddd;}
.news-detail .n-title .keyword {color:#2944cc; text-decoration:underline;}
.news-detail .n-info {padding:20px 0; border-bottom:2px solid #555; text-align:right;}
.news-detail .n-info span {display:inline-block; position:relative; padding:0 18px; font-size:15px;}
.news-detail .n-info span:after {display:block; content:""; position:absolute; left:-1px; top:2px; width:1px; height:12px; background:#999;}
.news-detail .n-info span:first-child:after {display:none;}
.news-detail .n-content .details {padding:20px 12px; line-height:26px; color:#444; font-size:15px; border-bottom:1px solid #ddd; word-break:break-all;}
.news-detail .n-content .details .keyword {color:#fff; font-size:16px; font-weight:600; text-decoration:underline; background:#2944cc;}
.news-detail .n-content .details .posi_keyword {color:#0e30da; font-size:16px;}
.news-detail .n-content .details .nega_keyword {color:#e60e0e; font-size:16px;}
.news-detail .n-content .details .va_keyword {color:#187424; font-size:16px;}
.news-detail .picture {margin-top:20px; text-align:center;}
.news-detail .picture img {max-width:80%;}
.news-detail .mining-result {position:fixed; left:0; bottom:0; width:100%; height:28px; color:#888; background:#f9f9f9; border-bottom:1px solid #ddd; opacity:.9;}
.news-detail .mining-result > div {position:absolute; bottom:0; height:28px; line-height:28px; color:#fff; font-size:14px; text-align:center; overflow:hidden;} 
.news-detail .mining-result .positive {left:0; background:#2944cc;}
.news-detail .mining-result .negative {right:0; background:#ce2c2c;}
.news-detail .mining-result .va {bottom:28px; left:0; background:#238930;}
.news-detail .mining-result .txt-ing {line-height:28px; color:#888; font-size:14px; text-align:center;}

/* list */
.item-list .inner {padding-top:20px;}
.item-list .txt-guide {color:#333;}
.item-list ul {display:none; flex-wrap:wrap; padding-bottom:20px;}
.item-list ul.show {display:flex;}
.item-list ul li {position:relative; top:0; margin:50px 0 0 2%; padding:10px 15px 30px; width:23.5%; background:#fff; box-sizing:border-box; transition:all .2s; border:1px solid #ddd;}
.item-list ul li:hover {top:-2px; box-shadow:0 3px 15px rgba(0,0,0,.2);}
.item-list ul li:first-child,
.item-list ul li:nth-child(4n+1) {margin-left:0;}
.item-list ul li a {display:block; width:100%; height:100%;}
.item-list ul li .picture {width:100%; height:175px; background:#ccc;}
.item-list ul li .picture p {padding:54px 0 0; line-height:18px; color:#888; font-size:14px; text-align:center;}
.item-list ul li .picture p .ico {display:block; font-size:22px;}
.item-list ul li .info-box {height:120px;}
.item-list ul li .tags {position:absolute; top:10px;}
.item-list ul li .tags span {display:inline-block; padding:0 5px; height:22px; line-height:22px; color:#fff; box-shadow:0 1px 1px rgba(0,0,0,.8);}
.item-list ul li .tags span + span {margin-left:3px;}
.item-list ul li .tags span.group {background:#444;}
.item-list ul li .tags span.category {background:#ef685e;}
.item-list ul li .tags span.ah {background:#555;}
.item-list ul li .tags span.today {background:#c90824;}
.item-list ul li .tags span.daily {background:#c90824;}
.item-list ul li .tags span.auto-view {background:#f36f21;}
.item-list ul li .tags span.auto-morning {background:#093aa7;}
.item-list ul li .tags span.auto-diary {background:#620027;}
.item-list ul li .tags span.chosun {background:#ce2c2c;}
.item-list ul li .tags span.carguy {background:#000;}
.item-list ul li .tags span.motor-graph {background:#b4000f;}
.item-list ul li .tags span.top-rider {background:#000;}
.item-list ul li .tags span.drive {background:#00adee;}
.item-list ul li .subject {margin:20px 0 10px; line-height:26px; letter-spacing:-1px; font-size:20px; font-weight:600; overflow:hidden; text-overflow:ellipsis; white-space:nowrap;}
.item-list ul li .summary {display:-webkit-box; word-wrap:break-word; -webkit-line-clamp:3; -webkit-box-orient:vertical; overflow:hidden; text-overflow:ellipsis; height:60px; line-height:20px; color:#444; font-size:15px;}
.item-list ul li .summary .keyword {color:#fff; font-size:16px; font-weight:600; text-decoration:underline; background:#2944cc;}
.item-list ul li .summary .posi_keyword {color:#0e30da; font-size:14px;}
.item-list ul li .summary .nega_keyword {color:#e60e0e; font-size:14px;}
.item-list ul li .summary .va_keyword {color:#187424; font-size:14px;}
.item-list ul li a:hover .subject {text-decoration:underline;}
.item-list ul li .infos {position:absolute; left:15px; bottom:15px; width:calc(100% - 30px)}
.item-list ul li .infos span {position:relative; color:#777;}
.item-list ul li .infos span + span {margin-left:13px;}
.item-list ul li .infos span + span:after {display:block; content:"|"; position:absolute; left:-9px; top:1px; color:#ddd;}
.item-list ul li .infos .btn-like {position:absolute; right:5px; bottom:-4px; line-height:24px;}
.item-list ul li .infos .btn-like:active {bottom:-5px;}
.item-list ul li .infos .btn-like strong {position:relative; top:1px; margin-left:3px; font-size:16px;}
.item-list ul li .mining-result {position:absolute; top:-24px; left:-1px; width:100%; height:22px; border:1px solid #ddd; background:#f9f9f9;}
.item-list ul li .mining-result > div {position:absolute; bottom:0; height:22px; line-height:22px; color:#fff; font-size:14px; text-align:center; overflow:hidden; opacity:.9;} 
.item-list ul li .mining-result .positive {left:0; background:#2944cc;}
.item-list ul li .mining-result .negative {right:0; background:#ce2c2c;}
.item-list ul li .mining-view {position:absolute; left:2%; bottom:10px; z-index:100; padding:15px; width:96%; border:1px solid #999; background:#fff; opacity:0; transition:all .3s ease-in-out; box-sizing:border-box;}
.item-list ul li .mining-view p {line-height:20px; font-size:15px;}
.item-list ul li .mining-view p .posi {color:#2944cc;}
.item-list ul li .mining-view p .nega {color:#ce2c2c;}
.item-list ul li .txt-ing {line-height:22px; color:#888; font-size:14px; text-align:center;}
.item-list ul li:hover .mining-view {bottom:-10px; opacity:1;}
.item-list ul.type02 {padding-top:20px;}
.item-list ul.type02 li {margin:34px 0 0 1%; padding-bottom:25px; width:49.5%;}
.item-list ul.type02 li:nth-child(4n+1),
.item-list ul.type02 li:nth-child(5n+1) {margin-left:1%;}
.item-list ul.type02 li:first-child,
.item-list ul.type02 li:nth-child(odd) {margin-left:0;}
.item-list ul.type02 li a {display:flex; justify-content:space-between;}
.item-list ul.type02 li .picture {width:208px; height:110px; overflow:hidden;}
.item-list ul.type02 li .picture p {padding:26px 0 0; line-height:16px; font-size:12px;}
.item-list ul.type02 li .info-box {width:calc(100% - 230px); height:110px;}
.item-list ul.type02 li .tags {left:0; top:0;}
.item-list ul.type02 li .subject {margin:0 0 10px;}
.item-list ul.type02 li .infos {position:absolute; left:auto; right:15px; bottom:15px; width:calc(100% - 260px);}

.all-list-summary {position:fixed; left:0; bottom:0; z-index:100; height:36px; width:100%; background:#f9f9f9; border-top:1px solid #ddd;}
.all-list-summary > div {position:absolute; bottom:0; height:36px; line-height:36px; color:#fff; font-size:16px; text-align:center; overflow:hidden; opacity:.8; transition:all .3s;}  
.all-list-summary .positive {left:0; background:#2944cc;}
.all-list-summary .negative {right:0; background:#ce2c2c;}
.all-list-summary > div a {display:block;  text-align:center;}
.all-list-summary > div a:hover {text-decoration:underline;}

.list-top {position:relative;}
.list-top .list-type {position:absolute; right:0; top:-6px;}
.list-top .list-type .btn {display:inline-block; position:relative; width:30px; height:30px; border:1px solid #444;}
.list-top .list-type .btn.active {background:#2944cc; border:1px solid #2944cc;}
.list-top .list-type .btn:before,
.list-top .list-type .btn:after {display:block; content:""; position:absolute; background:#777;}
.list-top .list-type .btn.active:before,
.list-top .list-type .btn.active:after {background:#fff;}
.list-top .list-type .btn:nth-child(1):before,
.list-top .list-type .btn:nth-child(1):after {top:5px; width:3px; height:18px;}
.list-top .list-type .btn:nth-child(1):before {left:8px;}
.list-top .list-type .btn:nth-child(1):after {right:8px;}
.list-top .list-type .btn:nth-child(2):before,
.list-top .list-type .btn:nth-child(2):after {left:5px; width:18px; height:3px;}
.list-top .list-type .btn:nth-child(2):before {top:8px;}
.list-top .list-type .btn:nth-child(2):after {bottom:8px;}

.category-list {position:fixed; top:150px; left:0; z-index:150; width:100%; height:60px; background:#444; box-sizing:border-box;}
.category-list ul {display:none; flex-wrap:wrap; margin-top:7px;}
.category-list ul.show {display:flex;}
.category-list ul li {position:relative;}
.category-list ul li a {color:#999; font-size:26px; font-weight:600;}
.category-list ul li.active {border-bottom:1px solid #fff; background:#666;}
.category-list ul li.active a {color:#fff;}
.category-list ul li:hover {text-decoration:underline;}
.category-list ul li {margin-right:25px;}
.category-list ul li:last-child {margin-right:0;}
.category-list ul li:first-child {color:#d00;}
.category-list ul li.new:after {display:block; content:"N"; position:absolute; right:-20px; top:-10px; width:22px; height:20px; line-height:22px; color:#fff; font-size:15px; font-weight:600; text-align:center; background:#d00; border-radius:50em;}
.category-list .result-info {display:none; line-height:40px;}
.category-list .result-info.show {display:flex;}
.category-list .result-info p,
.category-list .result-info a {color:#fff;}
.category-list .result-info p {font-size:22px;}
.category-list .result-info a {margin-left:18px; font-size:16px;}
.category-list .result-info a:hover {color:#ddd;}
.category-list .result-info a span {position:relative; top:2px; font-size:24px;}

/* news trend */
.news-trend-p .container {padding-top:100px;}
.trend-view-groups {display:flex; justify-content:space-between; flex-wrap:wrap;}
.trend-view-groups > div {width:47%;}
.trend-view-group {padding:40px 0 20px;}
.trend-view-group .title-row {padding-bottom:12px; border-bottom:1px solid #ddd;}
.trend-view-group .title-row .group-title {font-size:26px;}
.trend-view-group .title-row .group-summary {margin-top:8px; padding-left:4px;}
.trend-view-group .view {padding:15px;}
.trend-view-group .view .chart01,
.trend-view-group .view .chart04,
.trend-view-group .view .chart05,
.trend-view-group .view .chart06 {width:100%; height:350px;}





.loading {display:none;}
.loading .loading-box {position:fixed; left:50%; top:40%; z-index:400; margin-left:-190px; padding:40px 40px 30px; width:300px; text-align:center; background:#fff; box-shadow:0 3px 0 rgba(0,0,0,.2); border:1px solid #ddd;}
.loading .loading-box .out-box {position:relative; width:100%; height:6px; background:#999; overflow:hidden;}
.loading .loading-box .out-box .in-box {animation:moveBox 1.5s ease-in-out infinite alternate-reverse; position:absolute; top:1px; left:-77%; width:80%; height:4px; background:#000;}
.loading .loading-box p {margin-top:20px; line-height:26px; color:#222; font-size:18px;}
@keyframes moveBox {
	from {left:-77%;}
	to {left:97%;}
}

/* common */
.default-form input[type="email"],
.default-form input[type="password"],
.default-form input[type="text"] {padding:0 12px; width:100%; height:40px; letter-spacing:0; font-size:14px; box-sizing:border-box; border:1px solid #ddd;}
.default-form input[type="email"]:focus,
.default-form input[type="password"]:focus,
.default-form input[type="text"]:focus {border:1px solid #00affa;} 
.default-form input[type="password"] {font-family:'맑은고딕', Malgun-Gothic;}
.default-form .message {margin:10px 0 20px; color:#d00; font-size:14px;}
.default-form .btn {display:flex; justify-content:space-between; margin-top:10px;}
.default-form .btn button,
.default-form .btn a {display:block;}
.default-form .btn.full button,
.default-form .btn.full a {width:100%; height:46px; font-size:16px; font-weight:600; text-align:center;}
.btn-deep-gray {color:#fff; border:1px solid #444; background:#444;}

/* login */
.member-p {margin:0 auto; width:90%; max-width:400px;}
.member-p .container .service-name {font-size:35px; font-weight:400; text-align:center;}
.member-p .container .service-name a {color:#999;}
.member-p .container .service-name span {color:#444; font-weight:600;}
.member-p .member-box {margin-top:15px; padding:15px 0;}
.member-p .member-box select {margin-top:5px; width:100%; border:1px solid #ddd;}
.default-form input[name='memb-name'],
.member-p .member-box input[type="password"] {margin-top:5px;}
.member-p .member-box .check-member {margin-top:20px; line-height:20px; font-size:14px; text-align:center;}
.member-p1 .member-box .link-join {display:block; margin-top:10px; color:#00affa; font-size:16px; text-align:center; text-decoration:underline;}

/* car comment */
.container.car-comment {padding-top:135px;}
.page-title {margin-bottom:20px; line-height:38px; font-size:32px; text-align:center;}
.comment-info {margin-bottom:30px; line-height:28px; font-size:18px; text-align:center;}
.car-comment-list {padding:0 30px;}
.car-comment-list ul {display:flex; flex-wrap:wrap;}
.car-comment-list li {position:relative; padding:20px; margin:18px 0.5%; width:32.3%; border:1px solid #ddd; box-sizing:border-box; background:#fff; transition:background .3s;}
.car-comment-list li:hover {background:#f5f5f5;}
.car-comment-list li .info {display:block; margin-bottom:8px; font-size:18px;}
.car-comment-list li .comment {line-height:24px; font-size:16px; word-break:break-all;}
.car-comment-list li .comment .posi_keyword {color:#2944cc;}
.car-comment-list li .comment .nega_keyword {color:#ce2c2c;}
.car-comment-list li .comment .va_keyword {color:#187424;}
.car-comment-list li .mining-result {position:absolute; top:-24px; left:-1px; width:100%; height:22px; border:1px solid #ddd; background:#f9f9f9;}
.car-comment-list li .mining-result > div {position:absolute; bottom:0; height:22px; line-height:22px; color:#fff; font-size:14px; text-align:center; overflow:hidden; opacity:.9;} 
.car-comment-list li .mining-result .positive {left:0; background:#2944cc;}
.car-comment-list li .mining-result .negative {right:0; background:#ce2c2c;}
.car-comment-list li .mining-view {position:absolute; left:2%; bottom:10px; z-index:100; padding:15px; width:96%; border:1px solid #999; background:#fff; opacity:0; transition:all .3s ease-in-out; box-sizing:border-box;}
.car-comment-list li .mining-view p {line-height:20px; font-size:15px;}
.car-comment-list li .mining-view p .posi {color:#2944cc;}
.car-comment-list li .mining-view p .nega {color:#ce2c2c;}
.car-comment-list li .txt-ing {line-height:22px; color:#888; font-size:14px; text-align:center;}
.car-comment .choice-model {position:absolute; right:0; top:7px;}
.car-comment .choice-model select {color:#444; vertical-align:middle;}
.car-comment .choice-model .btn-choice {display:inline-block; padding:0 20px; height:38px; font-size:14px; vertical-align:middle;}
.car-comment .page-title span {display:block;}
.car-comment .video-list {padding:0 30px;}
.car-comment .video-list ul {zoom:1;}
.car-comment .video-list ul:after {display:block; content:""; clear:both;}
.car-comment .video-list li {position:relative; float:left; margin-top:20px; padding-bottom:25%; padding-top:30px; width:49.5%; height:0; overflow:hidden;}
.car-comment .video-list li:nth-child(1),
.car-comment .video-list li:nth-child(2) {margin-top:0;}
.car-comment .video-list li:nth-child(2n) {float:right;}
.car-comment .video-list li iframe,
.car-comment .video-list li object,
.car-comment .video-list li embed {position:absolute; top:0; left:0; width:100%; height:100%;}
.car-comment .box {position:relative;}
.car-comment .btn-back {display:block; width:15%; height:46px; line-height:46px; color:#fff; font-size:18px; font-weight:600; text-align:center; background:#222;}
.car-comment .car-list {position:absolute; top:0; width:100%;}
.car-comment .car-list ul {display:flex; justify-content:space-between; flex-wrap:wrap;}
.car-comment .car-list ul li {margin-top:35px; width:19%;}
.car-comment .car-list ul li a {display:block; position:relative; text-align:center;}
.car-comment .car-list ul li a .picture {height:140px;}
.car-comment .car-list ul li a .picture img {position:relative; left:0; top:0; width:90%; transition:all .2s;} 
.car-comment .car-list ul li a:hover .picture img {left:-5px; top:2px;}
.car-comment .car-list ul li a strong {display:block; color:#444; font-size:20px;}
.car-comment .car-list ul li a .box {display:flex; justify-content:space-between; flex-wrap:wrap; position:absolute; left:50%; top:-80px; margin-left:-47.5%; padding:3px 15px 15px; width:95%; background:#fff; box-shadow:0 5px 12px rgba(0,0,0,.2); box-sizing:border-box; opacity:0; transition:all .3s;}
.car-comment .car-list ul li a:hover .box {top:-100px; opacity:1;}
.car-comment .car-list ul li a .box dt,
.car-comment .car-list ul li a .box dd {margin-top:12px; width:50%; font-size:14px;}
.car-comment .car-list ul li a .box dt {font-size:16px; font-weight:600;}
.car-comment .common-tab-content {position:absolute; top:60px; width:100%;}


/* 보배드림 */
.container.bobaedream-news {padding-top:150px;}
.bobaedream-news .box {display:flex; justify-content:space-between; margin-top:60px;}
.bobaedream-news .box .group {width:49%;}
.bobaedream-news .box .group-title {margin-bottom:20px; letter-spacing:-1px; font-size:30px; font-weight:800; text-align:center;}
.bobaedream-news .box ul li {border:1px solid #ddd;}
.bobaedream-news .box ul li + li {margin-top:10px;}
.bobaedream-news .box ul li a {display:flex; justify-content:space-between; align-items:center; padding:14px 20px;}
.bobaedream-news .box ul li a .subject {font-size:18px;}
.bobaedream-news .box ul li a .key {letter-spacing:-1px; color:#333; font-size:30px;}



/***** 
    responsive 
                */
/*****
     1420 < w 
				*/
@media screen and (min-width: 1420px) {
	.item-list ul li {width:18.8%;}
	.item-list ul li + li,
	.item-list ul li:nth-child(4n+1) {margin-left:1.5%;}
	.item-list ul li:first-child,
	.item-list ul li:nth-child(5n + 1) {margin-left:0;}

	.car-comment-list li {width:32.3%;}
}
/*****
     1280 > w 
				*/
@media screen and (max-width: 1280px) {
	.header .search-box {width:30%;}
	.list-type {display:none;}
	.item-list ul li {width:32%;}
	.item-list ul li + li {margin-left:2%;}
	.item-list ul li:first-child, 
	.item-list ul li:nth-child(4n+1) {margin-left:2%;}
	.item-list ul li:first-child,
	.item-list ul li:nth-child(3n+1) {margin-left:0;}

	.car-comment-list li {width:49%;}
	.car-comment .car-list ul li {width:24%;}
	.car-comment .car-list ul li a strong {font-size:18px;}
}                
/*****
     1024 > w 
                */
@media screen and (max-width: 1040px) {
	.header .fncs .box {display:block;}
	.header .gnb-box .box {left:-40%; padding-top:140px; padding-left:40px; width:40%;}
	.header .search-box {width:40%;}

	.container {padding-top:200px;}

	.category-list {height:50px;}
	.category-list ul li a {font-size:21px;}
	.category-list .result-info.show {margin-top:-6px;}

	.container.car-comment {padding-top:118px;}
	.car-comment .page-title {margin-bottom:15px;}
	.car-comment .choice-model {position:static; margin-bottom:20px; text-align:center;}
	.car-comment-list ul {border-top:1px solid #ddd;}
	.car-comment-list li {width:100%; border:0; border-bottom:1px solid #ddd;}
	.car-comment .car-list ul li {width:32%;}
	.car-comment .car-list ul li a strong {font-size:16px;}
}
/*****
     880 > w 
                */
@media screen and (max-width: 880px) {
	.header .search-box {width:50%;}
	.category-list ul li a {font-size:18px;}
    .item-list ul li {width:48.5%;}
	.item-list ul li + li,
	.item-list ul li:first-child, 
	.item-list ul li:nth-child(4n+1),
	.item-list ul li:first-child,
	.item-list ul li:nth-child(3n+1) {margin-left:0;}
	.item-list ul li:nth-child(2n) {margin-left:3%;}

	.car-comment .page-title {font-size:28px;}
	.comment-info {line-height:22px; font-size:16px;}
	.car-comment-list {padding:0;}
}
/*****
     768 > w 
                */
@media screen and (max-width: 768px) {
	#wrap.category .container {padding-top:190px;}
	#wrap.media .container {padding-top:182px;}
	.header {padding:14px 5%; text-align:left;}
	.header.no-search {height:84px;}
	.header.no-search .service-name {padding-top:5px;}
	.header .service-name {text-align:center;}
	.header .service-name > a,
	.header .service-name > a span {font-size:26px;}
	.header .service-name span {font-size:20px;}
	.header .service-name sup {font-size:13px;}
	.header .search-box {width:60%;}
	.header .fncs {display:none; z-index:200;}
	.header .fncs.show {display:block;}
	.header .fncs .box {display:inline-block;}
	.header .btn-gnb.active {left:20px;}
	.header .btn-gnb {left:2%; top:20px; width:40px; height:40px; border:2px solid #444;}
	.header .btn-gnb:before, 
	.header .btn-gnb:after {width:25px;}
	.header .gnb-box .box {left:-65%; padding-top:120px; padding-left:20px; width:65%;}
	.item-list ul li {margin-top:34px; padding-bottom:15px; width:100%;}
	.item-list ul li:nth-child(2n) {margin-left:0;}
	.item-list ul li a {display:flex; justify-content:space-between;}
	.item-list ul li .picture {width:125px; height:125px; overflow:hidden;}
	.item-list ul li .picture p {padding:26px 0 0; line-height:16px; font-size:12px;}
	.item-list ul li .info-box {width:calc(100% - 140px);}
	.item-list ul li .tags {left:0; top:0;}
	.item-list ul li .subject {margin:0 0 10px;}
	.item-list ul li .infos {position:absolute; left:auto; right:15px; bottom:15px; width:calc(100% - 170px);}
	.category-list {height:auto;}
	.category-list .inner {padding-bottom:0;}
	.category-list ul {margin-top:0;}
	.category-list ul li {margin-right:18px; margin-bottom:10px;}
	.comment-info {line-height:20px; font-size:14px;}
	.car-comment .video-list {padding:0 15px;}
	.car-comment .video-list li {float:none; margin-top:15px; padding-bottom:56.25%; width:100%;}
	.car-comment .video-list li:nth-child(1) {margin-top:0;}
	.car-comment .video-list li:nth-child(2) {margin-top:15px;}
	.car-comment .video-list li:nth-child(2n) {float:none;}
	.car-comment .car-list ul li {width:49%;}
	.car-comment .car-list ul li a strong {font-size:18px;}
	.news-detail-p .container {padding-top:75px;}
	.news-detail .n-title {padding:14px 0; line-height:26px; font-size:20px;}
	.news-detail .n-info {padding:10px 0;}
	.page-btns {margin-top:14px;}
}

@media screen and (max-width: 450px) {
	#wrap.category .container {padding-top:135px;}
	#wrap.media .container {padding-top:182px;}
	.header {height:125px;}
	.header .service-name {padding-left:18px; letter-spacing:-1px; font-size:32px;}
	.header .search-recommend a {font-size:13px;}
	.header .btn-gnb {top:14px;}
	.header .fncs {top:14px;}
	/* .header .fncs a {display:block; position:fixed; bottom:0; left:0; width:100%; height:50px; line-height:50px; color:#fff; font-size:18px; font-weight:600; text-align:center; background:#444;} */
	.header .gnb-box .box {left:-90%; width:90%;}
	.header .search-box {margin-top:10px; width:80%;}
	.header .search-box input[type="text"],
	.header .search-box .btn-search {height:36px; font-size:14px;}
	.container {padding-top:155px;}
	.container .inner {width:96%;}
	.category-list {top:125px;}
	.category-list ul li {margin-right:10px;}
	.category-list ul li a {font-size:13px;}
	.category-list .result-info.show {display:block; line-height:26px; justify-content:space-between;}
	.category-list .result-info p {font-size:13px;}
	.category-list .result-info a {position:relative; top:-2px; margin-left:0; font-size:13px;}
	.category-list .result-info a span {font-size:18px;}
	.item-list {padding-bottom:0;}
	.item-list .txt-guide {font-size:14px;}
	.item-list ul {padding-bottom:10px;}
	.item-list ul li {padding-top:10px; padding-bottom:10px;}
	.item-list ul li .picture {width:80px; height:80px;}
	.item-list ul li .picture p {padding:20px 0 0;}
	.item-list ul li .tags span {padding:0 4px; height:18px; line-height:20px; font-size:11px;}
	.item-list ul li .tags span + span {margin-left:0;}
	.item-list ul li .info-box {width:calc(100% - 90px); height:105px;}
	.item-list ul li .subject {margin-bottom:5px; line-height:22px; font-size:15px;}
	.item-list ul li .summary {height:51px; line-height:17px; font-size:13px;}
	.item-list ul li .infos {bottom:10px; width:calc(100% - 120px);}
	.item-list ul li .infos span {font-size:13px;}
	.item-list ul li .infos .btn-like strong {top:0; font-size:14px;}
	.item-list ul li .mining-view {display:none;}
	.loading .dim {position:fixed; left:0; top:0; z-index:300; width:100%; height:100%; background:rgba(0,0,0,.7);}
	.loading .loading-box {margin-left:-165px; width:250px;}
	.loading .loading-box p {line-height:20px; font-size:16px;}

	.container.car-comment {padding-top:100px;}
	.car-comment .page-title {font-size:22px;}
	.comment-info {margin-bottom:15px; line-height:18px; font-size:14px;}
	.car-comment-list li {padding:15px;}
	.car-comment-list li .comment {line-height:20px; font-size:14px;}
	.car-comment .car-list ul li a strong {font-size:14px;}
	.car-comment .btn-back {width:100%;}

	.category-list ul li.new:after {right:-9px; top:-6px; width:13px; height:13px; line-height:14px; font-size:10px;}
}

@media screen and (max-width: 450px) {
	
	
	
	
	
	
	
}
