{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
	<meta name="referrer" content="always">
	<meta name="mobile-web-app-capable" content="yes">
	<meta name="format-detection" content="telephone=no,address=no,email=no">
	<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0">
	<!-- No cache -->
	<meta http-equiv="Expires" content="-1">
	<meta http-equiv="Pragma" content="no-cache">
	<meta http-equiv="Cache-Control" content="no-cache; no-store; no-save">
	<!-- Summary -->
	<meta name="Keywords" content="자동차, 자동차뉴스, 시승기, 중고차뉴스, 신차뉴스, 자동차업계, 자동차업계뉴스">
	<meta name="Description" content="카라스 8개 자동차 언론사들의 뉴스를 모아 제공합니다. (신차, 중고차, 시승기, 자동차업계)">
	<meta http-equiv="Author" content="카라스">
	<meta http-equiv="Other Agent" content="카라스">
	<meta http-equiv="Reply-To" content="simbk0120@autoplus.co.kr">
	<meta http-equiv="Email" content="simbk0120@autoplus.co.kr">
	<meta http-equiv="Build" content="2020.12" />
	<meta property="og:url" content="http://caras.autoplus.co.kr">
	<meta property="og:title" content="카라스 CarAs">
	<meta property="og:type" content="website">
	<meta property="og:image" content="{% static 'images/common/img_share.png' %}">
	<meta property="og:description" content="카라스, 자동차 뉴스, 중고차 뉴스, 신차 뉴스, 자동차 시승기">
	<meta name="naver-site-verification" content="c7ce06c9ed9736eb46db21ed102e4dea95dfe089" />
	<meta name="google-site-verification" content="jt2p5-PNGgED4Z5xiMbyiENXRz7QGQtd6HxuQbAHYWw" />
	<title>카라스 | CaR AnalysiS</title>
	<link rel="shortcut icon" href="{% static 'favico.png' %}" />
	<!-- CSS -->
	<link rel="stylesheet" href="{% static 'css/reset.css' %}">
	<link rel="stylesheet" href="{% static 'css/jquery-ui.css' %}">
	<link rel="stylesheet" href="{% static 'css/swiper.css' %}">
	<link rel="stylesheet" href="{% static 'css/content.css' %}">
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script data-ad-client="ca-pub-3984460457062336" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-T4CL1V9FXP"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());
		gtag('config', 'G-T4CL1V9FXP');

		function keywordSearch(){
			var nowListLength = $('.news-group li').length;
			var keyword = $('#search_keyword').val();
			if(keyword.length > 0){
				loadNewsList(99, 'all', 0, 12, 'search', null, keyword);
				$('#wrap').prop('class', '').addClass('search-result');
				$('.search-box').removeClass('show');
			}else{
				alert('검색어를 입력해주세요.');
				$('#search_keyword').focus();
			}
		}
	</script>	
</head>
<body>
{% if page_group == 'login-p' or page_group == 'join-p' %}
<div id="wrap" class="member-p">
{% elif page_group == 'news-detail-p' %}
<div id="wrap" class="news-detail-p">
{% else %}
<div id="wrap">
{% endif %}
	<header class="header">
		{% if page_group != 'news-detail-p' %}
		<a href="javascript:;" class="btn-gnb" title="메뉴"></a>
		{% endif %}
		{% if page_group == 'news-list' %}
		<h1 class="service-name search-on">
		{% else %}
		<h1 class="service-name">
		{% endif %}
			<a href="/"><span>C</span>a<span>R</span> <span>A</span>nalysi<span>S</span></a><sup>Beta!</sup><br>
			
			<div class="search-box">
				{% csrf_token %}
				<input type="text" id="search_keyword" name="" placeholder="검색할 단어를 입력해주세요.">
				<button type="button" class="btn-search" onclick="keywordSearch();">검색</button>
			</div>
		</h1>	
		<div class="fncs">
			{% comment %} {% if user %}
				<a href="/logout/" class="btn-login">로그아웃</a>
			{% else %}
				<a href="/join/" class="btn-logout">회원가입</a>
				<a href="/login/" class="btn-logout">로그인</a>
			{% endif %} {% endcomment %}
			{% if page_group != 'news-detail-p' %}
			<div class="box">
				<select name="" id="" class="view-mode-changer">
					<option value="dark">Dark mode</option>
					<option value="light" selected>Light mode</option>
				</select>
				{% comment %} <button type="button" title="검색창 열기" class="btn-open-search">🔍</button> {% endcomment %}
			</div>
			{% endif %}
		</div>
		<section class="gnb-box">
			<div class="dim"></div>
			<div class="box">
				<nav class="menu">
					<ul>
						<li class="active">
							<a href="/news_list">자동차 관련 뉴스 보기</a>
							<ul>
								<li class="active">&middot; <a href="javascript:;" onclick="loadNewsList(0, 'category', 0, 12, 'default', 'change');">뉴스 카테고리별 보기</a></li>
								<li>&middot; <a href="javascript:;" onclick="loadNewsList(0, 'media', 0, 12, 'default', 'change');">언론사별 보기</a></li>
							</ul>
						</li>
						{% comment %} <li>
							<a href="/car_comments/">차량 모델별 여론 평가</a>
						</li> {% endcomment %}
						{% comment %} <li>
							<a href="javascript:;">마이페이지</a>
							<ul>
								<li>&middot;  <a href="javascript:;">찜한 뉴스 목록</a></li>
							</ul>
						</li> {% endcomment %}
						<li>
							<a href="javascript:;">카라스</a>
							<ul>
								{% comment %} <li>&middot;  <a href="javascript:;">카라스 소개</a></li> {% endcomment %}
								<li>&middot;  <a href="mailto:simbk0120@autoplus.co.kr">카라스 문의(제안)하기</a></li>
							</ul>
						</li>
					</ul>
				</nav>
			</div>
		</section>
	</header>

	<!-- Javascript -->
	<script type="text/javascript" src="{% static 'js/jquery-1.12.4.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/jquery-ui.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/swiper.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/common.js' %}"></script>
	<script>
	$('.gnb-box .menu ul > li').removeClass('active');
	var thisPath = window.location.pathname;		
	{% comment %} console.log(thisPath) {% endcomment %}
	if(thisPath == '/' || thisPath == '/news_list' || thisPath == '/news_list/'){
		$('.gnb-box .menu > ul > li').eq(0).addClass('active');
	}else if(thisPath == '/car_comments/' || thisPath == '/car_comments'){
		$('.gnb-box .menu > ul > li').eq(1).addClass('active');
	}
	
	//news view count
	$(document).on('click', '.item-list ul li a', function(){
		var idx = $(this).parent('li').index();
		var nowCount = $(this).find('.infos').find('.view-cnt').children('strong').text();
		var newsCode = $('this').parent('li').data('news-code');
		{% comment %} alert('idx = '+ idx + ' / newscount=' + nowCount + ' / newscode = ' + newsCode) {% endcomment %}
		viewCountUp(idx, nowCount, newsCode)
	});
	//news list > view count
	function viewCountUp(idx, nowCount, newsCode){
		console.log(nowCount +'@@@' + newsCode)
		$.ajax({
			url: '{% url "view_count" %}',
			type: 'GET',
			data: {
				'now_count': nowCount,
				'news_code': newsCode
			},
			dataType: 'json',
			success: function(data){
				$('.news-group.show li').eq(idx).find('.view-cnt').children('strong').text(data);
			}
		});
	}
	function showNewsDetail(newsCode){
		var keyword = $('#search_keyword').val();
		if(keyword.length > 0){
			url = '/news_detail?news_code='+ newsCode + '&keyword=' + keyword;
		}else{
			url = '/news_detail?news_code='+ newsCode;
		}
		window.open(url, '카라스 뉴스 상세보기', 'width=1040, height=850, toolbar=no, menubar=no, scrollbars=no, resizable=yes')
	}
	function loadNewsList(idx, list_type, start_idx, load_length, load_type, fnc_type, search_keyword){
		console.log('@@@', list_type)
		$('.loading').show();
		connFlag = true;
		$.ajax({
			url: '{% url "list_data" %}',
			type: 'GET',
			data: {
				'list_idx': idx,
				'list_type': list_type,
				'start_idx': start_idx,
				'load_length': load_length,
				'search_keyword': search_keyword
			},
			dataType: 'json',
			success: function(data){
				$('.loading').hide();
				var newsItem = "";		
				json_data = JSON.parse(data.news)
				total_length = data.total_length
				today_news = data.today_news
				category_idx = 0
				if(list_type == 'category'){
					for(cnt in today_news){
						if(today_news[cnt] > 0){
							$('.category-list .sub-menu.category li').eq(category_idx).addClass('new')
						}
						category_idx++
					}
				}else if(list_type == 'media'){
					for(cnt in today_news){
						if(today_news[cnt] > 0){
							$('.category-list .sub-menu.media li').eq(category_idx).addClass('new')
						}
						category_idx++
					}
				}
				{% comment %} console.log(total_length) {% endcomment %}
				console.log(json_data)
				for(i = 0; i < json_data.length; i++){
					list = json_data[i].fields;
					var media_name = '';
					if(list.media_code == '100'){
						media_name = 'ah'
					}else if(list.media_code == '200'){
						media_name = 'daily'
					}else if(list.media_code == '300'){
						media_name = 'auto-view'
					}else if(list.media_code == '400'){
						media_name = 'chosun'
					}else if(list.media_code == '500'){
						media_name = 'auto-morning'
					}else if(list.media_code == '600'){
						media_name = 'auto-diary'
					}else if(list.media_code == '700'){
						media_name = 'carguy'
					}else if(list.media_code == '800'){
						media_name = 'drive'
					}else if(list.media_code == '900'){
						media_name = 'motor-graph'
					}
					newsItem += '<li data-news-code="' + list.news_code + '">';
					newsItem += '<a href="javascript:;" title="' + list.news_title + '" onclick="showNewsDetail(\''+ list.news_code +'\')">';
					{% comment %} newsItem += '<a href="' + list.news_url + '" target="_blank" title="' + list.news_title + '" >'; {% endcomment %}
					if(list.media_code == '200' || /*list.media_code == '500' ||*/ list.news_img_url == 'None' || list.news_img_url == ''){
						newsItem += '<div class="picture">';
						newsItem += '<p><span class="ico">😰</span><br>해당 언론사에서<br>이미지를 불러올 수 없습니다.</p>';
						newsItem += '</div>';
					}else{
						newsItem += '<div class="picture" style="background:url(\'' + list.news_img_url + '\') no-repeat center; background-size:cover;"></div>';
					}
					newsItem += '<div class="info-box">';
					newsItem += '<div class="tags">';
					if(list.write_date == '{{ today_date|escapejs }}'){
						newsItem += '<span class="today">TODAY</span>';
					}
					newsItem += '<span class="'+ media_name +'">' + list.media_name + '</span>';
					newsItem += '</div>';
					newsItem += '<p class="subject">' + list.news_title + '</p>';
					if(list.news_summary.length == 0){
						newsItem += '<p class="summary">' + list.news_content + '</p>';
					}else {

						newsItem += '<p class="summary">' + list.news_summary + '</p>';
					}
					newsItem += '</div>';
					newsItem += '<div class="infos">';
					newsItem += '<span class="date">' + list.write_date + '</span>';
					newsItem += '<span class="view-cnt" title="이 기사 조회수">👁 <strong>' + list.view_count + '</strong></span>'
					{% comment %} newsItem += '<button type="button" class="btn-like" title="이 기사 찜하기">👍 <strong>0</strong></button>'; {% endcomment %}
					newsItem += '</div>'
					newsItem += '<div class="mining-result">';
					if(list.positive_count > 0 || list.negative_count > 0){
						negaPer = Math.floor(100 * list.negative_count / (list.negative_count + list.positive_count))
						posiPer = 100 - negaPer
						{% comment %} if(list.positive_count > list.negative_count){
							negaPer = Math.floor(list.negative_count / list.positive_count * 100)
							posiPer = 100 - negaPer
						}else if(list.positive_count < list.negative_count){
							posiPer = Math.floor(list.positive_count / list.negative_count * 100)
							negaPer = 100 - posiPer
						}	 {% endcomment %}

						if(list.va_count > 0 || list.morpheme_count > 0){
							vaPer = Math.floor(list.va_count / list.morpheme_count)
						}
						newsItem += '<div class="positive" style="width:'+ posiPer +'%" title="긍정단어 노출 수 : '+list.positive_count+'개">긍정 '+ posiPer +' %</div>'
						newsItem += '<div class="negative" style="width:'+ negaPer +'%" title="부정단어 노출 수 : '+list.negative_count+'개">부정 '+ negaPer +' %</div>'	
						newsItem += '</div>';
						newsItem += '<div class="mining-view">'
						newsItem += '<p>감성지수 : '+vaPer+'% ('+list.va_count+'개/'+list.morpheme_count+'개)<br>긍/부정 단어 사용 빈도율 : <span class="posi">'+posiPer+'%</span>/<span class="nega">'+negaPer+'%</span><br>긍/부정 단어 사용 수 : <span class="posi">'+list.positive_count+'개</span>/<span class="nega">'+list.negative_count+'개</span></p>'
						newsItem += '</div>'
					}else{
						newsItem += '<p class="txt-ing">분석 중인 뉴스기사입니다.</p>';
						newsItem += '</div>';
						newsItem += '<div class="mining-view"><p>분석 중인 뉴스기사입니다.</p></div>'
						{% comment %} <div class="mining-view"><p>감성지수 : '+vaPer+'% ('+list.va_count+'개/'+list.morpheme_count+'개)<br>긍/부정 단어 사용 빈도율 : <span class="posi">'+posiPer+'%</span>/<span class="nega">'+negaPer+'%</span></p></div> {% endcomment %}
					}
					newsItem += '</a>';
					newsItem += '</li>';
				}

				if(load_type == 'more'){
					$('.news-group').append(newsItem);
					var nowScrollTop = $('html, body').scrollTop();
					$('html, body').animate({scrollTop: nowScrollTop + 100}, 150);
				}else{
					$('.news-group').html(newsItem);
					$('document, html').scrollTop(0);
				}

				if(load_type == 'search'){
					var keyword = $('#search_keyword').val();
					$('.result-info p span').text(keyword);
					$('.result-info p strong').text(total_length);
					$('.category-list .sub-menu').removeClass('show');
					$('.category-list .result-info').addClass('show');
				}

				//sub menu
				console.log(list_type)
				if(fnc_type == 'change'){
					$('.category-list ul').removeClass('show');
					$('.category-list ul li').removeClass('active');
					$('.category-list .result-info').removeClass('show');

					if(list_type == 'category'){
						$('#wrap').prop('class', '').addClass('category');
						$('.category-list ul.category').addClass('show');
					}else if(list_type == 'media'){
						$('#wrap').prop('class', '').addClass('media');
						$('.category-list ul.media').addClass('show');
					}
					$('.category-list ul.sub-menu.show li').eq(0).addClass('active');
				}

				//close gnb box
				$('.header .btn-gnb').removeClass('active');
				$('.gnb-box, .header .fncs').removeClass('show');
				connFlag = false;
			},
			error : function(request, status, error){
				console.log(error)
			},
		});
	}
	</script>
	{% block content %}{% endblock %}
{% comment %} //news load
var date = new Date();
var year = date.getFullYear()
var month = new String(date.getMonth() + 1);
var day = new String(date.getDate());
if(month.length == 1){
	month = '0' + month;
}
if(day.length == 1){
	day = '0' + day;
}
todayDate = year + '-' + month + '-' + day
alert(today) {% endcomment %}