{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
	<meta name="referrer" content="always">
	<meta name="mobile-web-app-capable" content="yes">
	<meta name="format-detection" content="telephone=no,address=no,email=no">
	<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0">
	<!-- No cache -->
	<meta http-equiv="Expires" content="-1">
	<meta http-equiv="Pragma" content="no-cache">
	<meta http-equiv="Cache-Control" content="no-cache; no-store; no-save">
	<!-- Summary -->
	<meta name="Keywords" content="자동차, 자동차뉴스, 시승기, 중고차뉴스, 신차뉴스, 자동차업계, 자동차업계뉴스">
	<meta name="Description" content="카뉴스.zip은 8개 자동차 언론사들의 뉴스를 모아 제공합니다. (신차, 중고차, 시승기, 자동차업계)">
	<meta http-equiv="Author" content="카뉴스.zip">
	<meta http-equiv="Other Agent" content="카뉴스.zip">
	<meta http-equiv="Reply-To" content="naver@naver.com">
	<meta http-equiv="Email" content="naver@naver.com">
	<meta http-equiv="Build" content="2020.12" />
	<meta property="og:url" content="http://carnewszip.com">
	<meta property="og:title" content="카뉴스.zip">
	<meta property="og:type" content="website">
	<meta property="og:image" content="{% static 'images/common/img_share.png' %}">
	<meta property="og:description" content="카뉴스.zip, 자동차 뉴스, 중고차 뉴스, 신차 뉴스, 자동차 시승기">
	<meta name="naver-site-verification" content="c7ce06c9ed9736eb46db21ed102e4dea95dfe089" />
	<meta name="google-site-verification" content="jt2p5-PNGgED4Z5xiMbyiENXRz7QGQtd6HxuQbAHYWw" />
	<title>카뉴스.zip 🙈</title>
	<link rel="shortcut icon" href="{% static 'favico.png' %}" />
	<!-- CSS -->
	<link rel="stylesheet" href="{% static 'css/reset.css' %}">
	<link rel="stylesheet" href="{% static 'css/jquery-ui.css' %}">
	<link rel="stylesheet" href="{% static 'css/swiper.css' %}">
	<link rel="stylesheet" href="{% static 'css/content.css' %}">
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script data-ad-client="ca-pub-3984460457062336" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-T4CL1V9FXP"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());
		gtag('config', 'G-T4CL1V9FXP');

		function keywordSearch(){
			var nowListLength = $('.news-group li').length;
			var keyword = $('#search_keyword').val();
			loadNewsList(99, 'all', 0, 12, 'search', null, keyword);
			$('#wrap').prop('class', '').addClass('search-result');
			$('.search-box').removeClass('show');
		}
	</script>	
</head>
<body>
{% if page_group == 'login-p' or page_group == 'join-p' %}
<div id="wrap" class="member-p">
{% else %}
<div id="wrap">
{% endif %}
	<header class="header">
		<a href="javascript:;" class="btn-gnb" title="메뉴"></a>
		<h1 class="service-name">
			<a href="/">카뉴스.zip 🙈</a><sup>Beta!</sup><br>
			<span>
				{% if user %}
					[{{ today_date }} {{ user }}님만을 위한 뉴스!]	
				{% else %}
					[{{ today_date }} CAR_NEWS.zip!]
				{% endif %}
			</span>
		</h1>
		<div class="fncs">
			{% if user %}
				<a href="/logout/" class="btn-login">로그아웃</a>
			{% else %}
				<a href="/join/" class="btn-logout">회원가입</a>
				<a href="/login/" class="btn-logout">로그인</a>
			{% endif %}
			<div class="box">
				<select name="" id="" class="view-mode-changer">
					<option value="dark">Dark mode</option>
					<option value="light" selected>Light mode</option>
				</select>
				<button type="button" title="검색창 열기" class="btn-open-search">🔍</button>
			</div>
			<div class="search-box">
				<button type="button" class="btn-close">X</button>
				{% csrf_token %}
				<input type="text" id="search_keyword" name="" placeholder="검색할 단어를 입력해주세요.">
				<button type="button" class="btn-search" onclick="keywordSearch();">검색</button>
			</div>
		</div>
		<section class="gnb-box">
			<div class="dim"></div>
			<div class="box">
				<nav class="menu">
					<ul>
						<li class="active">
							<a href="/news_list">자동차 관련 뉴스 보기</a>
							<ul>
								<li class="active">&middot; <a href="javascript:;" onclick="loadNewsList(0, 'category', 0, 12, 'default', 'change');">뉴스 카테고리별 보기</a></li>
								<li>&middot; <a href="javascript:;" onclick="loadNewsList(0, 'media', 0, 12, 'default', 'change');">언론사별 보기</a></li>
							</ul>
						</li>
						<li>
							<a href="/car_comments/">차량 모델별 여론 평가</a>
						</li>
						{% comment %} <li>
							<a href="javascript:;">마이페이지</a>
							<ul>
								<li>&middot;  <a href="javascript:;">찜한 뉴스 목록</a></li>
							</ul>
						</li> {% endcomment %}
						<li>
							<a href="javascript:;">카뉴스.zip</a>
							<ul>
								{% comment %} <li>&middot;  <a href="javascript:;">카뉴스.zip 소개</a></li> {% endcomment %}
								<li>&middot;  <a href="mailto:dung8524@gmail.com">카뉴스.zip 문의하기</a></li>
							</ul>
						</li>
					</ul>
				</nav>
			</div>
		</section>
	</header>

	<!-- Javascript -->
	<script type="text/javascript" src="{% static 'js/jquery-1.12.4.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/jquery-ui.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/swiper.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/common.js' %}"></script>
	<script>
		$('.gnb-box .menu ul > li').removeClass('active');
		var thisPath = window.location.pathname;		
		console.log(thisPath)
		if(thisPath == '/' || thisPath == '/news_list' || thisPath == '/news_list/'){
			$('.gnb-box .menu > ul > li').eq(0).addClass('active');
		}else if(thisPath == '/car_comments/' || thisPath == '/car_comments'){
			$('.gnb-box .menu > ul > li').eq(1).addClass('active');
		}
	</script>
	{% block content %}{% endblock %}
	
